<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/lib/codemirror.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/theme/base16-light.css}">
<link rel="stylesheet"
	th:href="@{/static/jquery-file-upload/css/jquery.fileupload.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/addon/dialog/dialog.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/addon/search/matchesonscrollbar.css}">
<link rel="stylesheet" th:href="@{/static/css/markdown.css}">
<link rel="stylesheet" th:href="@{/static/prettify/github-v2.min.css}">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
#toolbar {
	background-color: #f5f5f5;
	height: 30px;
	position: fixed;
	left: 0;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	overflow-y: hidden;
}

#in {
	position: fixed;
	top: 30px;
	left: 0;
	bottom: 0;
	width: 50%;
	height: auto;
	overflow: auto;
}

#out {
	position: fixed;
	top: 0;
	right: 0;
	left: 50%;
	bottom: 0;
	overflow: auto;
	padding: 10px;
	padding-left: 20px;
	color: #444;
	font-family: Georgia, Palatino, 'Palatino Linotype', Times,
		'Times New Roman', serif;
	font-size: 16px;
	line-height: 1.5em
}

.CodeMirror {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
}

.CodeMirror-scroll {
	padding: 10px;
	box-sizing: border-box;
	overflow-x: hidden !important;
}

.icon {
	margin-top: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 20px;
	margin-bottom: 5px
}

.modal {
	z-index: 9999999
}

#stat{
	position: fixed;
	left: 0;
	bottom: 0;
	width:50%;
	text-align:right;
	display:none
}
</style>
</head>
<body>
	<div>
			<div id="toolbar">
				<span class="glyphicon glyphicon-save icon" style="color: red"
					title="保存" onclick="showBase()"></span> <span
					class="glyphicon glyphicon-file icon" title="文件"
					onclick="openFile()"></span>
				<!-- 					<span class="icon glyphicon" -->
				<!-- 					title="emoji" onclick="emoji.show()">😀</span> -->
				<span class="glyphicon glyphicon-question-sign icon"
					data-toggle="modal" data-target="#helpModal" aria-hidden="true"></span>
			</div>
			<div id="in" style="display: none">
				<textarea id="code" style="width: 100%; height: 100%"
					th:text="${article.content}"></textarea>
			</div>
		<div class="markdown-body" id="out"></div>
		<div id="stat"></div>
	</div>


	<div class="modal fade" id="helpModal" tabindex="-1" role="dialog"
		style="z-index: 9999999">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">编辑器说明</h4>
				</div>
				<div class="modal-body">
					<h3>基础</h3>
					<ol>
						<li><p>
								支持<b>图片</b>粘贴上传
							</p></li>
						<li><p>支持文件拖曳上传</p></li>
						<li><p>支持拖曳导入md文件</p></li>
						<li><p>支持拖曳导入html文件(自动转化为markdown)</p></li>
					</ol>
					<h3>快捷键</h3>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>快捷键</th>
								<th>说明</th>
							</tr>
							<tr>
								<td>Ctrl + S</td>
								<td>保存文章</td>
							</tr>
							<tr>
								<td>Alt + F</td>
								<td>寻找文本</td>
							</tr>
							<tr>
								<td>Shift + Ctrl + F</td>
								<td>替换单个文本</td>
							</tr>
							<tr>
								<td>Shift + Ctrl + R</td>
								<td>替换全部文本</td>
							</tr>
						</table>
					</div>
					<h3>markdown语法</h3>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>格式</th>
								<th>说明</th>
							</tr>
							<tr>
								<td>粗体</td>
								<td>**内容** <br> __内容__
								</td>
							</tr>
							<tr>
								<td>斜体</td>
								<td>*内容* <br> _内容_
								</td>
							</tr>
							<tr>
								<td>链接</td>
								<td>[link text](http://url.com/ "title")<br> [link
									text](http://url.com/)
								</td>
							</tr>
							<tr>
								<td>图片</td>
								<td>![alt text](http://path/to/img.jpg "title")<br>
									![alt text](http://path/to/img.jpg)
								</td>
							</tr>

							<tr>
								<td>标题</td>
								<td># h1<br> ## h2<br> ...
								</td>
							</tr>
							<tr>
								<td>有序列表(无段落)</td>
								<td><pre>1.one
2.two</pre>
								</td>
							</tr>
							<tr>
								<td>无需列表(有段落)</td>
								<td><pre>* A list item.

  With multiple paragraphs.

* bar</pre>
								</td>
							</tr>
							<tr>
								<td>嵌套列表</td>
								<td><pre>* Abacus
  * anser
* Bubbles
  1. bunk
  2. bupkis
     * bar
  3. burper
* Cunning</pre></td>
							</tr>
							<tr>
								<td>引用</td>
								<td>> 内容</td>
							</tr>
							<tr>
								<td>代码</td>
								<td>`内容`<br>
								`` `内容` ``
								</td>
							</tr>
							
							<tr>
								<td>代码块</td>
								<td><pre>```
public static void main(String [] args){

}
```</pre>
								</td>
							</tr>
							<tr>
								<td>水平线</td>
								<td>---<br>* * *<br>- - - - 
								</td>
							</tr>
							<tr>
								<td>换行(行末两个空格)</td>
								<td><pre>第一行   
第二行</pre>
								</td>
							</tr>
							<tr>
								<td>表格</td>
								<td><pre>| A | B | C | 
| - | :-: | -: | 
| 左对齐 | 居中对齐| 右对齐 | </pre>
								</td>
							</tr>
							<tr>
								<td>锚点</td>
								<td>[内容](#1)
								</td>
							</tr>
							<tr>
								<td>脚注</td>
								<td><pre>Markdown[^1]
[^1]: 内容</pre>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>



	<div class="modal fade" id="baseModal" tabindex="-1" role="dialog"
		style="z-index: 9999999">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">基本信息</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" id="error-tip"
						style="display: none"></div>
					<form>
						<div class="form-group">
							<label>博客标题</label><input type="text" class="form-control"
								placeholder="博客标题(1-200个字符)" maxlength="200" id="title"
								th:value="${article.title}" />
						</div>
						<div class="form-group">
							<label>别名</label><input type="text" class="form-control"
								placeholder="博客别名(1-200个字符，不能为纯数字以及包含'<'、'>','='和空格等字符)"
								maxlength="200" id="alias" th:value="${article.alias}" />
						</div>
						<div class="form-group">
							<label>摘要 </label> <a href="javascript:void(0)"><span
								onclick="previewSummary($(this))"
								class="glyphicon glyphicon-eye-open icon"></span></a>
							<div id="summary-content"
								style="position: relative; height: 310px">
								<textarea class="form-control" cols="8" rows="8"
									placeholder="(0~2000字符)" id="summary"
									th:text="${article.summary}"></textarea>
							</div>
							<div id="summary-rendered" class="markdown-body"
								style="display: none; max-height: 300px; overflow-y: auto">

							</div>
						</div>
						<div class="form-group">
							<label>特征图像</label><input type="text" class="form-control"
								placeholder="特征图像" maxlength="255" id="featureImage"
								th:value="${article.featureImage}" />
						</div>
						<div class="form-group has-feedback has-clear"
							id="tags-input-container">
							<label>标签 </label> <input type="text" id="tags-input"
								class="form-control" placeholder="标签(小于20个字符)" />
						</div>
						<div id="tags-container" class="well" style="margin-top: 5px"></div>
						<div class="form-group">
							<label>空间</label> <select class="form-control" id="space">
								<option th:each="space : ${spaces}" th:text="${space.name}"
									th:value="${space.id}"></option>
							</select>
						</div>
						<div class="form-group">
							<label>来源</label> <select class="form-control" id="from">
								<option th:if="${article.from != null}"
									th:value="${article.from.name()}" selected="selected"
									th:text="'当前:'+${messages.getMessage(article.from.getMessage())}"></option>
								<option value="ORIGINAL">原创</option>
								<option value="COPIED">转载</option>
							</select>
						</div>
						<div id="lock_container"></div>
						<div class="form-group">
							<label>状态</label> <select class="form-control" id="status">
								<option th:if="${article.status != null}"
									th:value="${article.status.name()}"
									th:text="${messages.getMessage(article.status.getMessage())}"></option>
								<option value="DRAFT">草稿</option>
								<option value="PUBLISHED">发布</option>
								<option value="SCHEDULED">计划</option>
							</select>
						</div>
						<div class="form-group"
							th:style="${article.isSchedule() ? '' : 'display: none'}"
							id="scheduleContainer">
							<label>计划发表日期</label> <input type="text" class="form-control"
								id="scheduleDate"
								th:value="${article.isSchedule() ? #dates.format(article.pubDate, 'yyyy-MM-dd HH:mm') : #dates.format(#dates.createNow(),'yyyy-MM-dd HH:mm')}"><br>
						</div>
						<div class="checkbox">
							<label th:if="${article.isPrivate == null || !article.isPrivate}">
								<input type="checkbox" id="private" />私人博客
							</label> <label th:if="${article.isPrivate != null && article.isPrivate}"><input
								type="checkbox" id="private" checked="checked" />私人博客 </label>
						</div>
						<div class="form-group">
							<label>博客优先级(优先级越高排名越靠前)</label> <input type="text"
								class="form-control" placeholder="1~100" maxlength="3"
								id="level" th:value="${article.level}" />
						</div>
						<div class="checkbox">
							<label
								th:if="${article.allowComment == null || !article.allowComment}">
								<input type="checkbox" id="allowComment" />允许评论
							</label> <label
								th:if="${article.allowComment != null && article.allowComment}"><input
								type="checkbox" id="allowComment" checked="checked" />允许评论 </label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" id="submit-art">发表文章</button>
				</div>
			</div>
		</div>
	</div>

	<input type="hidden" th:value="${article.status}" id="oldStatus" />
	<input type="hidden" th:value="${article.tagStr}" id="oldTags"
		style="display: none" />
	<input type="hidden" th:value="${article.lockId}" id="oldLock"
		style="display: none" />
	<input type="hidden" th:value="${article.id}" id="id"
		style="display: none" />
	<input type="hidden"
		th:value="${article.space == null ? '' : article.space.id}"
		id="oldSpace" style="display: none" />

	<div th:replace="base/foot_source"></div>
	<script th:src="@{/static/codemirror/lib/codemirror.js}"></script>
	<script th:src="@{/static/codemirror/addon/mode/overlay.js}"></script>
	<script th:src="@{/static/codemirror/mode/javascript/javascript.js}"></script>
	<script th:src="@{/static/codemirror/mode/css/css.js}"></script>
	<script th:src="@{/static/codemirror/mode/xml/xml.js}"></script>
	<script th:src="@{/static/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
	<script th:src="@{/static/codemirror/mode/markdown/markdown.js}"></script>
	<script th:src="@{/static/codemirror/mode/gfm/gfm.js}"></script>
	<script th:src="@{/static/codemirror/addon/dialog/dialog.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/searchcursor.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/search.js}"></script>
	<script
		th:src="@{/static/codemirror/addon/scroll/annotatescrollbar.js}"></script>
	<script
		th:src="@{/static/codemirror/addon/search/matchesonscrollbar.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/jump-to-line.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/jquery-file-upload/js/load-image.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/canvas-to-blob.min.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/vendor/jquery.ui.widget.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.iframe-transport.js}"></script>
	<script th:src="@{/static/jquery-file-upload/js/jquery.fileupload.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-ui.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-process.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-image.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-audio.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-video.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-validate.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/mgr/md_file.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/mgr/dirChooser.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/mgr/common.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/mgr/emoji.js}"></script>
	<script th:src="@{/static/js/modal.js}"></script>
	<script th:src="@{/static/markdown/markdown-it.js}"></script>
	<script th:src="@{/static/markdown/markdown-it-footnote.min.js}"></script>
	<script th:src="@{/static/markdown/turndown.js}"></script>
	<script th:src="@{/static/markdown/turndown-plugin-gfm.js}"></script>
	<script th:src="@{/static/js/waitForImages.js}"></script>
	<script th:src="@{/static/prettify/prettify.js}"></script>
	<script th:src="@{/static/js/mgr/article_editor.js}"></script>
	<script th:src="@{/static/js/mgr/article_md.js}"></script>
</body>
</html>