<link rel="stylesheet"
	th:href="@{/static/jquery-file-upload/css/jquery.fileupload.css}">
<link th:href="@{/static/pell-1.0.4/dist/pell.min.css}"
	rel="stylesheet">
<style>
	.note-editable img{
		margin-left:2%;
	}
	.note-editable video{
		margin-left:2%;
	}
	  .video {
        position: relative;
        display: inline-block;
    }

    .video-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size:5rem;
        transform: translate(-50%, -50%);
        color:grey;
    }
</style>