<!DOCTYPE HTML>
<html>
<head th:replace="mgr/base/head :: head('模板缓存清理')"></head>
<body>
	<nav th:replace="mgr/base/nav :: active('tpl-other')"></nav>
	<div id="page-wrapper" style="padding: 10px">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default" id="clearMgrCache">清除页面缓存</button>
						<button class="btn btn-default" id="clearPreview">清除预览页面</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="base/foot_source"></div>
	<script type="text/javascript" th:src="@{/static/js/mgr/common.js}"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$("#clearMgrCache").click(function(){
				$.post(basePath+'/mgr/template/clearCache',{},function(data){
					bootbox.alert(data.message);
				})
			});
			$("#clearPreview").click(function(){
				$.post(basePath+'/mgr/template/clearPreview',{},function(data){
					bootbox.alert(data.message);
				})
			});
		});
	</script>
</body>
</html>