<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="org.apache.ibatis.type.EnumOrdinalTypeHandler"
			alias="EnumOrdinalTypeHandler" />
		<typeAlias type="me.qyh.blog.core.mybatis.handler.TagsTypeHandler"
			alias="TagsTypeHandler" />

		<typeAlias type="me.qyh.blog.core.entity.Article" alias="Article" />
		<typeAlias type="me.qyh.blog.core.entity.Article$ArticleStatus"
			alias="ArticleStatus" />
		<typeAlias type="me.qyh.blog.core.entity.Article$ArticleFrom"
			alias="ArticleFrom" />
		<typeAlias type="me.qyh.blog.core.entity.Editor" alias="Editor" />
		<typeAlias type="me.qyh.blog.core.entity.Tag" alias="Tag" />

		<typeAlias type="me.qyh.blog.core.entity.Space" alias="Space" />

		<typeAlias type="me.qyh.blog.file.entity.BlogFile" alias="BlogFile" />
		<typeAlias type="me.qyh.blog.file.entity.BlogFile$BlogFileType"
			alias="BlogFileType" />
		<typeAlias type="me.qyh.blog.file.entity.CommonFile" alias="CommonFile" />
		<typeAlias type="me.qyh.blog.file.entity.FileDelete" alias="FileDelete" />

		<typeAlias type="me.qyh.blog.file.vo.BlogFileCount" alias="BlogFileCount" />

		<typeAlias type="me.qyh.blog.template.entity.Page" alias="Page" />
		<typeAlias type="me.qyh.blog.template.entity.Fragment"
			alias="Fragment" />
		<typeAlias type="me.qyh.blog.template.entity.PluginTemplate"
			alias="PluginTemplate" />
		<typeAlias type="me.qyh.blog.template.entity.HistoryTemplate"
			alias="HistoryTemplate" />
		<typeAlias type="me.qyh.blog.template.entity.HistoryTemplate$HistoryTemplateType"
			alias="HistoryTemplateType" />

		<typeAlias type="me.qyh.blog.core.vo.ArticleStatistics"
			alias="ArticleStatistics" />
		<typeAlias type="me.qyh.blog.core.vo.ArticleSpaceStatistics"
			alias="ArticleSpaceStatistics" />
			
		<typeAlias type="me.qyh.blog.core.entity.News" alias="News" />
		<typeAlias type="me.qyh.blog.core.vo.NewsStatistics" alias="NewsStatistics" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="me.qyh.blog.core.mybatis.handler.TagsTypeHandler" />
	</typeHandlers>
	<mappers>
		<mapper resource="resources/mybatis/mapper/spaceMapper.xml" />
		<mapper resource="resources/mybatis/mapper/articleMapper.xml" />
		<mapper resource="resources/mybatis/mapper/articleTagMapper.xml" />
		<mapper resource="resources/mybatis/mapper/tagMapper.xml" />
		<mapper resource="resources/mybatis/mapper/blogFileMapper.xml" />
		<mapper resource="resources/mybatis/mapper/blogCommonFileMapper.xml" />
		<mapper resource="resources/mybatis/mapper/fragmentMapper.xml" />
		<mapper resource="resources/mybatis/mapper/pageMapper.xml" />
		<mapper resource="resources/mybatis/mapper/historyTemplateMapper.xml" />
		<mapper resource="resources/mybatis/mapper/fileDeleteMapper.xml" />
		<mapper resource="resources/mybatis/mapper/newsMapper.xml" />
		<mapper resource="resources/mybatis/mapper/pluginTemplateMapper.xml" />
	</mappers>
</configuration>