<!DOCTYPE html>
<html>

<head th:replace="console/base/head :: head('博客管理','')"></head>

<body id="page-top">

	<nav th:replace="console/base/nav"></nav>

	<div id="wrapper">

		<!--sidebar-->
		<ul th:replace="console/base/sidebar :: active('article')"></ul>

		<div id="content-wrapper">

			<div class="container-fluid">

				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="input-group col-md-3" style="margin-bottom: 5px">
								<select id="spaces" class="custom-select">
									<option value="">全部</option>
								</select>
							</div>
							<div class="btn-group btn-group-toggle col-md-8 col-sm-12 "
								data-toggle="buttons"
								style="margin-bottom: 5px; overflow-x: auto">
								<label class="btn btn-secondary"> <input type="radio"
									name="status" autocomplete="off" value="PUBLISHED"> 已发布
								</label> <label class="btn btn-secondary"> <input type="radio"
									name="status" autocomplete="off" value="SCHEDULED"> 计划
								</label><label class="btn btn-secondary"> <input type="radio"
									name="status" autocomplete="off" value="DRAFT"> 草稿
								</label><label class="btn btn-secondary"> <input type="radio"
									name="status" autocomplete="off" value="DELETED"> 回收站
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="搜索标题|内容|标签|摘要" id="searchText">
									<div class="input-group-append">
										<span class="input-group-text"><a href="###"
											id="search"><i class="fas fa-search"></i></a></span>
									</div>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-bordered" id="articleTable"
								width="100%" cellspacing="0">
								<thead>
									<tr>
										<th data-bind="title">标题</th>
										<th data-bind="tags">标签</th>
										<th data-bind="pubDate">发布日期</th>
										<th data-bind="level">优先级</th>
										<th data-bind="hits">点击量</th>
										<th data-bind="id">操作</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div id="articleTable_paging"></div>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<footer class="sticky-footer">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright © Your Website 2018</span>
					</div>
				</div>
			</footer>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript-->

	<div th:replace="console/base/foot"></div>

	<script>
		$(document).ready(
				function() {
					$.ajax({
						url : root + 'api/console/spaces',
						success : function(data) {
							for (var i = 0; i < data.length; i++) {
								$("#spaces").append(
										'<option value="'+data[i].id+'">'
												+ data[i].name + '</option>');
							}
						},
						error : function(jqXHR) {
							var error = $.parseJSON(jqXHR.responseText).error;
							swal('获取空间失败', error, 'error');
						}
					})
					var table = datatable('articleTable', {
						url : function() {
							return root + 'api/console/articles';
						},
						paging : true,
						columns : [{
							bind : 'title',
							render:function(v,d){
								var url = '[[${urls.url}]]'+'/space/'+d.space.alias+'/article/';
								if(d.alias){
									url += d.alias;
								}else{
									url += d.id
								}
								return '<a href="###" data-clipboard-text="'+url+'">'+v+'</a>';
							}
						},{
							bind : 'tags',
							render:function(v,d){
								var html = '';
								if(v.length > 0){
									$.each(v,function(i,v){
										html += v.name+'<br>';
									})
								}
								return html;
							}
						},
						{
							bind : 'pubDate',
							render:function(v,d){
								if(v){
									return moment(v).format('YYYY-MM-DD HH:mm');
								}
								return '';
							}
						},
						{
							bind : 'level',
							render:function(v,d){
								if(v){
									return v;
								}
								return '';
							}
						},
						{
							bind : 'id',
							option:[function(v,d){
								var html = '';
								if(d.status == 'DELETED' || d.status == 'DRAFT'){
									html += '<a href="###" title="删除" data-remove="'+d.id+'" style="margin-right:10px"><i class="fas fa-trash-alt"></i></a>';
								}
								if(d.status != 'DELETED'){
									if(d.status != 'DRAFT'){
										html += '<a href="###" title="删除" data-delete="'+d.id+'" style="margin-right:10px"><i class="fas fa-trash-alt"></i></a>';
									}
									html += '<a href="###" title="修改" data-edit="'+d.id+'" style="margin-right:10px"><i class="fas fa-edit"></i></a>';
								}
								if(d.status == 'SCHEDULED' || d.status == 'DRAFT'){
									html += '<a href="###" title="发布" data-pub="'+d.id+'" style="margin-right:10px"><i class="fas fa-upload"></i></a>';
								}
								if(d.status == 'DELETED'){
									html += '<a href="###" title="恢复" data-redo="'+d.id+'" style="margin-right:10px"><i class="fas fa-redo-alt"></i></a>'
								}
								return html;
							}]
						}]
					})
					$("#spaces").change(function() {
						var space = $(this).val();
						table.reload({
							currentPage : 1,
							'space.id' : space
						})
					});
					
					$("input[name='status']").change(function(){
						var status = $(this).val();
						table.reload({
							currentPage : 1,
							status : status
						})
					})
					

					
					$("#articleTable").on('click','[data-edit]',function(){
						var id = $(this).data('edit');
						window.location.href = root + 'console/article/edit/'+id;
					});
					
					$("#articleTable").on('click','[data-pub]',function(){
						var id = $(this).data('pub');
						  $.ajax({
							type : 'PATCH',
							url : root + 'api/console/article/'+id+"?status=PUBLISHED",
							success:function(data) {
								swal('发布成功','文章已经发布','success');
								table.reload();
							},
							error:function(jqXHR, textStatus, errorThrown) {
								var data = $.parseJSON(jqXHR.responseText);
								swal('发布失败',data.error,'error');
							}
						  })
					});
					
					$("#articleTable").on('click','[data-delete]',function(){
						var id = $(this).data('delete');
						swal({
						  title: '你确定吗？',
						  text: "如果文章不是草稿，可以在回收站恢复这篇文章",
						  type: 'warning',
						  showCancelButton: true,
						  confirmButtonColor: '#3085d6',
						  cancelButtonColor: '#d33',
						  confirmButtonText: '删除!',
						  cancelButtonText: '取消'
						}).then((result) => {
						  if (result.value) {
							  $.ajax({
								type : 'PATCH',
								url : root + 'api/console/article/'+id+"?status=DELETED",
								success:function(data) {
									swal('删除成功','文章已经被删除','success');
									table.reload();
								},
								error:function(jqXHR, textStatus, errorThrown) {
									var data = $.parseJSON(jqXHR.responseText);
									swal('删除失败',data.error,'error');
								}
							  })
						  }
						});
					});
					
					$("#articleTable").on('click','[data-redo]',function(){
						var id = $(this).data('redo');
						swal({
						  title: '你确定吗？',
						  text: "文章将会被设置为草稿状态",
						  type: 'warning',
						  showCancelButton: true,
						  confirmButtonColor: '#3085d6',
						  cancelButtonColor: '#d33',
						  confirmButtonText: '恢复!',
						  cancelButtonText: '取消'
						}).then((result) => {
						  if (result.value) {
							  $.ajax({
								type : 'PATCH',
								url : root + 'api/console/article/'+id+"?status=DRAFT",
								success:function(data) {
									swal('恢复成功','文章已经被设置为草稿','success');
									table.reload();
								},
								error:function(jqXHR, textStatus, errorThrown) {
									var data = $.parseJSON(jqXHR.responseText);
									swal('恢复失败',data.error,'error');
								}
							  })
						  }
						});
					});
					$("#search").click(function(){
						var text = $("#searchText").val();
						table.reload({
							currentPage : 1,
							query : text
						})
					});
					$("#articleTable").on('click','[data-remove]',function(){
						var id = $(this).data('remove');
						swal({
						  title: '你确定吗？',
						  text: "文章将会被彻底删除",
						  type: 'warning',
						  showCancelButton: true,
						  confirmButtonColor: '#3085d6',
						  cancelButtonColor: '#d33',
						  confirmButtonText: '删除!',
						  cancelButtonText: '取消'
						}).then((result) => {
						  if (result.value) {
							  $.ajax({
								type : 'DELETE',
								url : root + 'api/console/article/'+id,
								success:function(data) {
									swal('删除成功','文章已经被删除','success');
									table.reload();
								},
								error:function(jqXHR, textStatus, errorThrown) {
									var data = $.parseJSON(jqXHR.responseText);
									swal('删除失败',data.error,'error');
								}
							  })
						  }
						});
					});
				});
		
		var clipboard=new Clipboard('[data-clipboard-text]');
		clipboard.on('success',function(e){
			swal('拷贝文章访问地址成功','','success'); e.clearSelection();
		});
		clipboard.on('error',function(){
			swal('拷贝失败','','error');
		});
	</script>

</body>

</html>
