<!doctype html>
<html>
<head th:replace="console/fragment/head('文章编辑')"></head>
<body class="">
	<div class="page">
		<div class="flex-fill">
			<div th:replace="console/fragment/profile"></div>
			<div th:replace="console/fragment/headermenu('article')"></div>
			<div class="my-3 my-md-5">
				<div class="container">
					<div class="mb-3" style="text-align: right">
						<button type="button" class="btn btn-danger" id="back-btn">返回</button>
						<button type="button" class="btn btn-primary" id="submit-btn">提交</button>
					</div>
					<div class="mb-3">
						<div class="form-label">标题</div>
						<input type="text" class="form-control" id="title" th:value="${article.title}"/>
						<div class="invalid-feedback" data-invalid-target="title"></div>
					</div>
					<div class="mb-3">
						<textarea class="form-control" id="editor" th:utext="${article.content}"></textarea>
						<div class="invalid-feedback" data-invalid-target="content"></div>
					</div>
					<div class="mb-3">
						<div class="form-label">别名</div>
						<input type="text" class="form-control" id="alias" th:value="${article.alias}"/>
						<div class="invalid-feedback" data-invalid-target="alias"></div>
					</div>
					<div class="mb-3">
						<div class="form-label">摘要</div>
						<textarea class="form-control" id="summary" th:utext="${article.summary}"></textarea>
						<div class="invalid-feedback" data-invalid-target="summary"></div>
					</div>
					<div class="mb-3">
						<div class="form-label">分类</div>
						<select class="form-control" multiple="" id="categories">
						</select>
						<div class="invalid-feedback" data-invalid-target="categories"></div>
					</div>
					<div class="mb-3">
						<div class="form-label">标签</div>
						<div class="tags" style="margin-bottom:0.5rem"></div>
						<input type="text" id="tag-input" class="form-control">
						<div class="table-responsive">
							<table class="table" id="tags-filter" style="display:none"></table>
						</div>
						<div class="invalid-feedback" data-invalid-target="tags"></div>
					</div>
					<div class="mb-3">
						<div class="form-label">状态</div>
						<select class="form-control" id="status">
							<option value="PUBLISHED" th:attr="selected=${article.status.name() == 'PUBLISHED' ? 'selected' : null}">发布</option>
							<option value="SCHEDULED" th:attr="selected=${article.status.name() == 'SCHEDULED' ? 'selected' : null}">计划</option>
							<option value="DRAFT" th:attr="selected=${article.status.name() == 'DRAFT' ? 'selected' : null}">草稿</option>
						</select>
					</div>
					<div class="mb-3" th:attr="style=${article.status.name() == 'SCHEDULED' ? null : 'display:none'}"  id="scheduleContainer">
						<label class="form-label">计划发表时间</label> <input type="text"
							id="scheduleDateInput" class="form-control">
						<div class="invalid-feedback" data-invalid-target="pubDate" th:value="${article.status.name() == 'SCHEDULED' ? #times.format(article.pubDate,'yyyy-MM-dd HH:mm:ss') : null}"></div>
					</div>
					<div class="mb-3">
						<div class="form-label">级别</div>
						<input type="number" class="form-control" id="level" th:value="${article.level == 0 ? null : article.level}"/>
						<div class="invalid-feedback" data-invalid-target="level"></div>
					</div>
					<div class="mb-3">
						<label class="form-label">访问密码</label> <input type="text" th:value="${article.password}"
							id="password" class="form-control">
						<div class="invalid-feedback" data-invalid-target="password"></div>
					</div>
					<div class="mb-3">
						<div class="form-label">特征图像<small><a href="javascript:void(0)" class="ml-1" id="featureImageSelector" th:if="${blogPros.fileEnable}"><i class="fe fe-file"></i></a></small></div>
						<input type="text" class="form-control" id="featureImage"  th:value="${article.featureImage}"/>
						<div class="invalid-feedback" data-invalid-target="featureImage"></div>
					</div>
					<div class="mb-3">
						<label class="form-check"> <input class="form-check-input" id="allowComment"
							type="checkbox" th:attr="checked=${article.allowComment ? 'checked' : null}"> <span
							class="form-check-label">允许评论</span>
						</label>
					</div>
					<div class="mb-3">
						<label class="form-check"> <input class="form-check-input" id="private"
							type="checkbox" th:attr="checked=${article.isPrivate ? 'checked' : null}"> <span class="form-check-label">私人访问</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="console/fragment/footer"></footer>
	<script th:src="@{/static/console/js/upload.js}"></script>
	<script th:src="@{/static/console/js/fileSelector.js}"></script>
	<script th:src="@{/static/console/js/insertFile.js}"></script>
	<script th:src="@{/static/heather/js/heather_lazy.js}"></script>
	<script th:inline="javascript">
    var categories = /*[[${article.categories}]]*/ null;
    var oldTags = /*[[${article.tags}]]*/ null;
    var id = '[[${article.id}]]'
	</script>
	<script>
	

	if(fileEnable){
		document.getElementById("featureImageSelector").addEventListener('click',function(){
			new FileSelector(function(datas){
				for(const data of datas){
					if(["jpg","jpeg","png","gif"].includes(data.ext.toLowerCase())){
						if(data.middleThumbPath){
							document.getElementById('featureImage').value = data.middleThumbPath;
						} else {
							document.getElementById('featureImage').value = data.path;
						}
						break;
					}
				}
			}).open();
		});
	}
	
		function loadCategories(){
			$.get(rootPath + 'console/categories',{},function(datas){
				var category = document.getElementById("categories");
				var html = '';
				for(const data of datas){
					var selected = false;
					for(const cate of categories){
						if(cate.id == data.id){
							selected = true;
							break;
						}
					}
					if(selected){
						html += '<option value="'+data.id+'" selected=selected>'+data.name+'</option>';
					} else {
						html += '<option value="'+data.id+'" >'+data.name+'</option>';
					}
				}
				category.innerHTML = html;
			})
		}
		
		var tagCache = [];
		
		function loadTags(){
			$.get(rootPath + 'console/tags',{},function(datas){
				tagCache = datas;
				if(oldTags != null){
					for(const oldTag of oldTags){
						addTag(oldTag.id);
					}
				}
			})
		}
		
		var tagsFilter = document.getElementById('tags-filter');
		var tags = [];
		
		var tagsContainer = document.querySelector('.tags');
		var tagInput = document.getElementById('tag-input');
		
		function createTag(name){
			if(tags.length >= 5){
				toast('标签数目不能超过5个','error');
				return ;
			}
			for(const tag of tagCache){
				if(tag.name == name){
					addTag(tag.id);
					return ;
				}
			}
			$.ajax({
				type : 'post',
				url : rootPath + 'console/tag/save',
	            contentType: 'application/json',
				data:JSON.stringify({name : name}),
				success:function(data) {
					tagCache.push({
						id : data,
						name : name
					});
					addTag(data);
				}
			  })
		}
		
		function deleteTag(id,span){
			span.remove();
			for(var i=0;i<tags.length;i++){
				if(tags[i] == id){
					tags.splice(i,1);
					break;
				}
			}
		}
		
		function addTag(id){
			if(tags.length >= 5){
				toast('标签数目不能超过5个','error');
				return ;
			}
			for(const tag of tagCache){
				if(tag.id == id){
					tags.push(id);
					var span = document.createElement('span');
					span.classList.add('tag');
					span.textContent = tag.name;
					var close = document.createElement('a');
					close.setAttribute('href','javscript:void(0)');
					close.classList.add('tag-addon');
					close.innerHTML = '<i class="fe fe-x"></i>';
					close.addEventListener('click',function(){
						deleteTag(id,span);
					});
					span.appendChild(close);
					
					tagsContainer.appendChild(span);
					tagsContainer.style.display = '';
					
					tagsFilter.innerHTML = '';
					tagsFilter.style.display = 'none';
					tagInput.value = '';
					
					break;
				}
			}
		}
		
		$(function(){
			loadCategories();
			loadTags();
			
			tagInput.addEventListener('keyup',function(e){
				if(e.key == 'Enter'){
					createTag(this.value);
				} else {
					if(this.value == ''){
						tagsFilter.innerHTML = '';
						tagsFilter.style.display = 'none';
						return ;
					}
					var html = '';
					var index = 0;
					for(const tag of tagCache){
						if(tag.name.indexOf(this.value) != -1){
							html += '<tr><td>'+tag.name+'</td><td><a href="javascript:void(0)" onclick="addTag(\''+tag.id+'\')"><i class="fas fa-check" ></i></a></td></tr>';
							if(index++ == 5){
								break;
							}
						}
					}
					tagsFilter.style.display = html != '' ? '' : 'none';
					tagsFilter.innerHTML = html;
				}
			})
			
			document.getElementById('status').addEventListener('change',function(e){
				if(this.value == 'SCHEDULED'){
					var time = new Date();
					var timeStr = time.getFullYear()
						+'-'
						+((time.getMonth()+1)+"").padStart(2,'0')
						+'-'
						+(time.getDate()+"").padStart(2,'0')
						+' '
						+(time.getHours()+"").padStart(2,'0')
						+':'
						+(time.getMinutes()+"").padStart(2,'0')
						+':'
						+(time.getSeconds()+"").padStart(2,'0');
					document.getElementById('scheduleDateInput').value = timeStr;
					document.getElementById('scheduleContainer').style.display = '';
				} else {
					document.getElementById('scheduleDateInput').value = ''
					document.getElementById('scheduleContainer').style.display = 'none';
				}
			});
		})
	
		LazyHeather.load(function(Heather) {
			Heather.lazyRes.mermaid_js = rootPath
					+ 'static/heather/js/mermaid.min.js';
			Heather.lazyRes.katex_css = rootPath
					+ 'static/heather/katex/katex.min.css';
			Heather.lazyRes.katex_js = rootPath
					+ 'static/heather/katex/katex.min.js';
			var heather = new Heather(document.getElementById('editor'),{
				editor : {
					lineNumbers : false
				},
				upload:{
					validate:function(file){
						return file.type.startsWith('image/');
					},
					url:function(){
						return rootPath + 'console/file/upload?dirPath='+fs.getPath()
					},
					uploadFinish:function(resp){
						resp = JSON.parse(resp);
						if(resp.errors){
							return null;
						}
						insertFiles([resp],heather);
					},
					fileNameGen:function(file){
						if(file.from === 'paste')
							return new Date().getTime() + '.'+file.name.split('.').pop();
						return file.name;
					}
				}
			})
			
			var summary = new Heather(document.getElementById('summary'), {
				editor : {
					lineNumbers : false
				},
				partPreviewEnable :false
			});

			var fs = new FileSelector(function(datas) {
				if (datas.length > 0) {
					insertFiles(datas, heather)
				}
			});
			var fs2 = new FileSelector(function(datas) {
				if (datas.length > 0) {
					insertFiles(datas, summary)
				}
			});

			if (!Heather.Util.mobile) {
				heather.on('fullscreenChange', function(fs) {
					heather.setSyncView(fs);
				})
			}

			var toolbar = heather.getToolbar();
			toolbar.addElement(Heather.Util.createBarIcon('fullscreen',function(elem){
				heather.setFullscreen(!heather.isFullscreen());
			}));
			toolbar.addElement(Heather.Util.createBarIcon('eye',function(elem){
				heather.setPreview(true);
			}));

			if(fileEnable){
				toolbar.addElement(Heather.Util.createBarIcon('file',function(elem){
					fs.open();
				}));
			}

			if (Heather.Util.mobile) {
				toolbar.addElement(Heather.Util.createBarIcon('cursor',function(elem){
					if (!heather.hasSelectionHelper()) {
						heather.openSelectionHelper();
					} else {
						heather.closeSelectionHelper();
					}
				}));
			}
			
			summary.getToolbar().addElement(Heather.Util.createBarIcon('eye',function(elem){
				summary.setPreview(true);
			}));
			if(fileEnable){
				summary.getToolbar().addElement(Heather.Util.createBarIcon('file',function(elem){
					fs2.open();
				}));
			}
			
			heather.setSize(null,500)
			summary.setSize(null,200);
			
			var back = document.getElementById('back-btn');
			back.addEventListener('click',function(){
				Swal.fire({
					  title: '确定要返回吗？',
					  text: "你会丢失没有保存的内容",
					  icon: 'warning',
					  showCancelButton: true,
					  confirmButtonColor: '#3085d6',
					  cancelButtonColor: '#d33'
					}).then((result) => {
					  if (result.value) {
					   	window.location.href = rootPath + 'console/articles?pageSize=10';
					  }
					})
			});
			
			
			var getArticle = function(){
				var data = {};
				data.alias = document.getElementById('alias').value;
				data.content = heather.getValue();
				data.pubDate = document.getElementById('scheduleDateInput').value;
				data.password = document.getElementById('password').value;
				data.allowComment = document.getElementById('allowComment').checked;
				data.isPrivate = document.getElementById('private').checked;
				data.summary = summary.getValue();
				data.featureImage = document.getElementById('featureImage').value;
				data.tags = [];
				var level = document.getElementById('level').value;
				if(level != '')
					data.level = level;
				data.status = document.getElementById('status').value;
				for(const tag of tags){
					data.tags.push({id:tag})
				}
				var categories = getSelectValues(document.getElementById('categories'));
				data.categories = [];
				for(const category of categories){
					data.categories.push({id:category})
				}
				data.title = document.getElementById('title').value;
				return data;
			}
			
			
			var autoSave = (function(){
				var timer;
				var stoped = false;
				heather.on('change',function(){
					if(stoped) return ;
					if(timer){
						clearTimeout(timer);
					}					
					timer = setTimeout(function(){
						var data = getArticle();
						if(data.title.trim() == ''){
							data.title = 'No Title';
						}
						data.status = 'DRAFT';
						var url = rootPath + 'console/articles/'+id+'/update';
						$.ajax({
							type : 'post',
							url : url,
				            contentType: 'application/json',
							data:JSON.stringify(data),
							success:function(data) {
							},
							error:function(r){
								r.handled = true;
					        }
						  })
					},500);
				})
				
				return {
					stop:function(){
						if(timer)
							clearTimeout(timer);
						stoped = true;
					},
					resume:function(){
						stoped = false;
					}
				}
			})();
			
			var btn = document.getElementById('submit-btn');
			btn.addEventListener('click',function(){
				autoSave.stop();
				var data = getArticle();
				$.ajax({
					type : 'post',
					url : rootPath + 'console/articles/'+id+'/update',
		            contentType: 'application/json',
					data:JSON.stringify(data),
					success:function(data) {
						autoSave.resume();
						toast('保存成功');
						setTimeout(function(){
							window.location.href = rootPath + 'console/articles?pageSize=10'
						},500)
						clearFormError(document.body);
					},
					error:function(r){
						r.handled = true;
						clearFormError(document.body);
			        	var errors = r.responseJSON && r.responseJSON.errors;
			    		if(errors){
	    					if(errors[0].field){
			    				displayFormError(errors,document.body);
			    			} else {
			    				toastErrors(errors);
			    			}
			    		}
			        }
				  })
				
			})
		})
		
		function getSelectValues(select) {
		  var result = [];
		  var options = select && select.options;
		  var opt;
		
		  for (var i=0, iLen=options.length; i<iLen; i++) {
		    opt = options[i];
		
		    if (opt.selected) {
		      result.push(opt.value || opt.text);
		    }
		  }
		  return result;
		}
	</script>
</body>
</html>