<script th:src="@{/static/jquery/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script
	th:src="@{/static/console/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/static/console/js/sb-admin.min.js}"></script>
<script th:src="@{/static/sweet2alert/dist/sweetalert2.all.min.js}"></script>
<script th:src="@{/static/js/base.js}"></script>
<script th:src="@{/static/js/moment.min.js}"></script>
<script th:src="@{/static/js/clipboard.min.js}"></script>
<script th:src="@{/static/console/js/table.js}"></script>
<script>
	var root = '[[@{/}]]';
	var fullRoot = '[[${urls.url}]]';
	var basePath = root;
</script>