<head th:fragment="head(title,ext)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link th:href="@{/static/bootstrap/css/bootstrap.min.css?v=7.0.1}"
	rel="stylesheet">
<link th:href="@{/static/fontawesome-free/css/all.min.css?v=7.0}"
	rel="stylesheet">
<link th:href="@{/static/console/css/sb-admin.min.css?v=7.0}" rel="stylesheet">
<ext th:remove="tag" th:unless="${#strings.isEmpty(ext)}"> <ext
	th:replace="${ext}" /> </ext>
<title th:text="${title}"></title>
</head>