<ul class="sidebar navbar-nav" th:fragment="active(menu)">
	<li class="nav-item"
		th:classappend="${menu == 'user'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/user}"> <i
			class="fas fa-fw fa-user"></i> <span>我的信息</span>
	</a></li>
	<li class="nav-item"
		th:classappend="${menu == 'space'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/space}"> <i
			class="fab  fa-fw fa-skype"></i> <span>空间</span>
	</a></li>

	<li class="nav-item"
		th:classappend="${menu == 'article'} ? 'article' : null"><a
		class="nav-link" th:href="@{/console/article}"> <i
			class="fas fa-fw fa-book"></i><span>文章</span>
	</a></li>

	<li class="nav-item"
		th:classappend="${menu == 'news'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/news}"> <i
			class="fas fa-fw fa-newspaper"></i> <span>动态</span>
	</a></li>



	<li class="nav-item"
		th:classappend="${menu == 'file'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/file}"> <i
			class="fas  fa-fw fa-file"></i> <span>文件</span>
	</a></li>

	<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
		href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false"> <i
			class="fas fa-fw fa-text-height"></i> <span>模板管理</span>
	</a>
		<div class="dropdown-menu" aria-labelledby="pagesDropdown">
			<a class="dropdown-item"
				th:classappend="${menu == 'template'} ? 'active' : null"
				th:href="@{/console/template}">导入导出</a> <a class="dropdown-item"
				th:classappend="${menu == 'page'} ? 'active' : null"
				th:href="@{/console/template/page}">页面</a> <a class="dropdown-item"
				th:classappend="${menu == 'fragment'} ? 'active' : null"
				th:href="@{/console/template/fragment}">模板片段</a><a
				class="dropdown-item"
				th:classappend="${menu == 'data'} ? 'active' : null"
				th:href="@{/console/template/data}">模板数据</a>
		</div></li>




	<li class="nav-item"
		th:classappend="${menu == 'plugin'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/plugin}"><i
			class="fas fa-fw fa-cogs"></i><span>插件</span> </a></li>


	<li class="nav-item"
		th:classappend="${menu == 'tag'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/tag}"> <i
			class="fas fa-fw fa-tags"></i> <span>标签</span>
	</a></li>
	<li class="nav-item"
		th:classappend="${menu == 'stat'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/statistics}"> <i
			class="fas fa-fw fa-chart-bar"></i> <span>统计</span>
	</a></li>


	<li class="nav-item"
		th:classappend="${menu == 'config'} ? 'active' : null"><a
		class="nav-link" th:href="@{/console/config}"> <i
			class="fas fa-fw fa-cog"></i> <span>配置</span>
	</a></li>

</ul>