<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="Heather is a online Markdown Editor">
<meta name="keywords"
	content="Markdown, Heather, Editor, CodeMirror, Github, Open Source">
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/lib/codemirror.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/addon/scroll/simplescrollbars.css}">
<link rel="stylesheet" th:href="@{/static/css/markdown.css}">
<link th:href="@{/static/fontawesome-free/css/all.min.css}"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/static/heather/style.css}">
</head>

<body>
	<div id="wrapper">
		<div id="toc" class="noprint"></div>
		<div id="in" class="noprint">
			<div id="toolbar" class="noprint"></div>
			<textarea id="code" style="width: 100%; height: 100%"></textarea>
			<div id="stat" class="noprint"></div>
			<div id="innerBar"></div>
		</div>
		<div class="markdown-body " id="out"></div>
	</div>

	<div class="noprint">
		<div class="modal" tabindex="-1" role="dialog" id="storage-modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">本地存储</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" tabindex="-1" role="dialog" id="filesModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">文件</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>


		<div class="modal" tabindex="-1" role="dialog" id="uploadModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">文件上传</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="fileupload" class="form-horizontal" autocomplete="off"
							action="http://upload.qiniu.com" method="POST"
							enctype="multipart/form-data">
							<div class="fileupload-buttonbar">
								<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
									<input type="text" class="form-control" placeholder="目录路径"
										id="upload-dir" style="margin-bottom: 10px" /> <span
										class="btn btn-success fileinput-button"> <i
										class="glyphicon glyphicon-plus"></i> <span>添加文件</span> <input
										type="file" name="file">
									</span>
									<button type="submit" class="btn btn-primary start">
										<i class="glyphicon glyphicon-upload"></i> <span>文件上传</span>
									</button>
									<button type="reset" class="btn btn-warning cancel">
										<i class="glyphicon glyphicon-ban-circle"></i> <span>取消</span>
									</button>
									<span class="fileupload-process"></span>
								</div>
							</div>
							<div style="margin-top: 10px">
								<div
									class="fileupload-progress fade col-lg-12 col-sm-12 col-md-12 col-xs-12">
									<!-- The global progress bar -->
									<div class="progress progress-striped active"
										role="progressbar" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar progress-bar-success"
											style="width: 0%;"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
								<div class="table-responsive">
									<table role="presentation" class="table table-striped"
										style="text-align: center">
										<tbody class="files"></tbody>
									</table>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var rootPath = '[[@{/}]]';
		var root = rootPath;
	</script>
	<script th:src="@{/static/jquery/jquery.min.js}"></script>
	<script th:src="@{/static/js/base.js}"></script>
	<script th:src="@{/static/heather/js/htmlparser.js}"></script>
	<script th:src="@{/static/heather/js/morphdom-umd.min.js}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/static/heather/highlight/highlight.pack.js}"></script>
	<!--CodeMirror-->
	<script th:src="@{/static/codemirror/lib/codemirror.js}"></script>
	<script th:src="@{/static/codemirror/addon/mode/overlay.js}"></script>
	<script th:src="@{/static/codemirror/mode/javascript/javascript.js}"></script>
	<script th:src="@{/static/codemirror/mode/xml/xml.js}"></script>
	<script th:src="@{/static/codemirror/mode/markdown/markdown.js}"></script>
	<script th:src="@{/static/codemirror/mode/gfm/gfm.js}"></script>
	<script
		th:src="@{/static/codemirror/addon/selection/mark-selection.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/searchcursor.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/search.js}"></script>
	<script th:src="@{/static/codemirror/addon/edit/continuelist.js}"></script>
	<script th:src="@{/static/codemirror/addon/scroll/simplescrollbars.js}"></script>
	<script th:src="@{/static/sweet2alert/dist/sweetalert2.all.min.js}"></script>
	<script th:src="@{/static/heather/js/turndown.js}"></script>
	<script th:src="@{/static/heather/js/turndown-plugin-gfm.js}"></script>
	<script th:src="@{/static/heather/js/jquery.touchwipe.min.js}"></script>
	<script th:src="@{/static/heather/js/md.js}"></script>
	<script th:src="@{/static/heather/js/all.js}"></script>
	<script>
		var wrapper;
		function createEditor(config) {
			wrapper = EditorWrapper.create(config);
		}
	</script>
</body>

</html>