<redirect th:url="@{/}" th:if="${user != null}" />
<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<link th:href="@{/static/fontawesome-free/css/all.min.css?v=7.0}"
	rel="stylesheet">
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css?v=7.0}" />
<link th:href="@{/static/console/css/sb-admin.min.css?v=7.0}" rel="stylesheet">
<title>登录</title>
</head>

<body class="bg-dark">

	<div class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">登录</div>
			<div class="card-body">
				<form id="loginForm" th:if="${session.ga_user == null}">
					<div class="form-group">
						<div class="form-label-group">
							<input type="text" class="form-control" placeholder="用户名"
								required="required" autofocus="autofocus" id="username">
							<label for="username">用户名</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<input type="password" class="form-control" placeholder="密码"
								required="required" id="password"> <label for="password">密码</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label> <input type="checkbox" value="remember-me"
								id="rememberMe">记住我
							</label>
						</div>
					</div>
					<a class="btn btn-primary btn-block" href="###"
						th:if="${session.ga_user == null}" id="login-btn">登录</a>
				</form>

				<form id="optVerifyForm" th:if="${session.ga_user != null}">
					<div class="form-group">
						<div class="form-label-group">
							<input type="text" class="form-control" placeholder="动态口令"
								required="required" autofocus="autofocus" id="otpCode">
							<label for="otpCode">动态口令</label>
						</div>
					</div>
					<a class="btn btn-primary btn-block" href="###"
						th:if="${session.ga_user != null}" id="verify-btn">登录</a>
				</form>
				<div class="text-center">
					<a class="d-block small" style="margin-top: 10px" th:href="@{/}"><i
						class="fas fa-arrow-left"></i>返回主页</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal " tabindex="-1" role="dialog" id="validateCodeModal"
		data-backdrop>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">请输入验证码</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div id="validate-error" class="alert alert-danger"
							style="display: none"></div>
						<div class="form-group">
							<img th:src="@{/captcha}" class="img-fluid" id="validateImg" />
							<input type="text" class="form-control" id="validate"
								aria-describedby="basic-addon3">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="validate-btn">确定</button>
				</div>
			</div>
		</div>
	</div>


	<script th:src="@{/static/jquery/jquery.min.js?v=7.0}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js?v=7.0}"></script>
	<script th:src="@{/static/sweet2alert/dist/sweetalert2.all.min.js?v=7.0}"></script>
	<script th:src="@{/static/js/base.js?v=7.0}"></script>
	<script
		th:src="@{/static/console/vendor/jquery-easing/jquery.easing.min.js?v=7.0}"></script>

	<script type="text/javascript">
		var rootPath = '[[@{/}]]';
		var gotoUrl = '[[${(param.goto == null || param.goto.isEmpty()) ? urls.url : param.goto}]]';
		var show = false;
		$(document)
				.ready(
						function() {

							$("#validateCodeModal").on('show.bs.modal',
									function() {
										$("#validate").val("");
										show = true;
									});
							$("#validateCodeModal").on('hide.bs.modal',
									function() {
										show = false;
									});
							$.get(rootPath + 'login/needCaptcha', {}, function(
									flag) {
								if (flag) {
									$("#captchaContainer").show();
								} else {
									$("#captchaContainer").hide();
								}
							})
							$("#login-btn")
									.click(
											function() {
												var username = $("#username")
														.val();
												var password = $("#password")
														.val();
												var validateCode = $(
														"#validate").val();
												$
														.ajax({
															type : "post",
															url : rootPath
																	+ 'login?validateCode='
																	+ validateCode,
															data : JSON
																	.stringify({
																		"username" : username,
																		"password" : password,
																		"rememberMe" : $(
																				"#rememberMe")
																				.is(
																						":checked")
																	}),
															dataType : "json",
															contentType : 'application/json',
															success : function(
																	data) {
																if (data.success) {
																	window.location.href = gotoUrl;
																} else {
																	if (data.code == 'otp.required') {
																		window.location
																				.reload();
																	} else {
																		swal(
																				data.message,
																				'',
																				'error');
																		if (data.code == 'validateCode.error') {
																			$(
																					"#validate-btn")
																					.unbind(
																							'click')
																					.bind(
																							'click',
																							function() {
																								$(
																										"#login-btn")
																										.click();
																							});
																			if (!show)
																				$(
																						"#validateCodeModal")
																						.modal(
																								'show')
																		}
																	}
																}
															},
															complete : function() {
																$(
																		"#validateImg")
																		.attr(
																				"src",
																				rootPath
																						+ 'captcha?time='
																						+ $
																								.now())
															}
														});
											});

							$("#verify-btn")
									.click(
											function() {
												var url = rootPath
														+ "login/otpVerify?code="
														+ $("#otpCode").val()
														+ "&validateCode="
														+ $("#validate").val();
												$
														.ajax({
															type : "post",
															url : url,
															data : {},
															contentType : 'application/json',
															success : function(
																	data) {
																if (data.success) {
																	window.location.href = gotoUrl;
																} else {
																	swal(
																			data.message,
																			'',
																			'error');
																	if (data.code == 'validateCode.error') {
																		$(
																				"#validate-btn")
																				.unbind(
																						'click')
																				.bind(
																						'click',
																						function() {
																							$(
																									"#verify-btn")
																									.click();
																						});
																		if (!show)
																			$(
																					"#validateCodeModal")
																					.modal(
																							'show')
																	}
																}
															},
															complete : function() {
																if ($("#validateImg").length > 0)
																	$(
																			"#validateImg")
																			.attr(
																					"src",
																					rootPath
																							+ 'captcha?time='
																							+ $
																									.now())
															}
														});
											});
						});
	</script>
</body>

</html>