<transaction:begin/>
<data name="article" th:idOrAlias="${idOrAlias}" />
<data name="articleNav" ref-article="article" th:queryLock="${user != null}"/>
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="description" th:content="${article.summary}" />
<meta name="keywords" th:content="${article.tagStr}" />
<title>[[${article.title}]]</title>

<link th:href="@{/static/fontawesome-free/css/all.min.css}"
	rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css?v=1}" />
<link rel="stylesheet" th:href="@{/static/css/markdown.css}" />
<link rel="stylesheet" th:href="@{/static/prettify/github-v2.min.css}" />
<style>
body {
	padding-top: 54px;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
	}
}

.comment-btn {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}

.sticky-offset {
	top: 56px;
}
</style>

</head>

<body>

	<fragment name="顶部" />

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<!-- Post Content Column -->
			<div class="col-lg-8">

				<!-- Title -->
				<h1 class="mt-4">[[${article.title}]]</h1>
				<p class="lead" th:if="${!article.tags.isEmpty()}">
					<i class="fas fa-tags" style="margin-right: 10px"></i><a
						th:href="${urls.getArticlesUrlHelper().getArticlesUrl(tag)}" th:each="tag : ${article.tags}"
						th:text="${tag.name}" style="margin-right:5px"></a>
				</p>
				<hr>

				<!-- Date/Time -->
				<p>发表于 [[${times.format(article.pubDate,'yyyy-MM-dd HH:mm')}]]</p>

				<hr>

				<div class="markdown-body" th:utext="${article.content}"></div>

				<hr>
              
                <ul class="pagination justify-content-center mb-4" th:if="${articleNav != null}">
                    <li class="page-item " th:classappend="${articleNav.previous  == null ?'disabled' : ''}">
                        <a class="page-link" th:href="${urls.getUrl(articleNav.previous)}" th:if="${articleNav.previous != null}">&larr;
                            上一篇 </a>
                        <a class="page-link" th:if="${articleNav.previous == null}">&larr;
                            上一篇 </a>
                    </li>
                    <li class="page-item" th:classappend="${articleNav.next == null ?'disabled' : ''}">
                        <a class="page-link" th:href="${urls.getUrl(articleNav.next)}" th:if="${articleNav.next != null}">下一篇&rarr;</a>
                        <a class="page-link" th:if="${articleNav.next == null}">下一篇&rarr;</a>
                    </li>
                </ul>

				<div id="comments-container"></div>


			</div>

			<!-- Sidebar Widgets Column -->
			<div class="col-md-4 d-none d-md-block d-sm-none">

				<!-- Search Widget -->
				<div class="card my-4 sticky-top sticky-offset">
					<h5 class="card-header">搜索</h5>
					<div class="card-body">
						<form th:action="${urls.currentUrl}" id="searchForm">
							<div class="input-group mb-3">
								<input type="text" class="form-control" name="query" value="">
								<div class="input-group-append">
									<span class="input-group-text"><a href="###"
										onclick="document.getElementById('searchForm').submit()">搜索</a></span>
								</div>
							</div>
						</form>

					</div>
				</div>

			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<fragment name="底部" />

	<a href="javascript:void(0)" data-comment
		class="btn btn-primary btn-lg comment-btn"
		style="bottom: 64px; display: block" role="button" title="评论"
		data-toggle="tooltip" data-placement="left"> <i
		class="far fa-comment"></i>
	</a>
	<script th:src="@{/static/jquery/jquery.min.js}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/static/sweet2alert/dist/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/prettify/prettify.js}"></script>
	<script th:src="@{/static/js/base.js}"></script>
	<script th:src="@{/static/js/moment.min.js}"></script>
	<script>
      var basePath = '[[@{/}]]';
      var actPath = '[[${urls.currentUrl}]]';
      if(basePath == '/'){
      	basePath = '';
      }
         var config = {
            isLogin: [[${user != null}]],
            gravatarPrefix: '[[${gravatars.getUrl('')}]]'
        };
      	var c = $("#comments-container");
     	var _config = {
         	 pageSize:10,
             page:1,
             moduleId:[[${article.id}]],
             moduleType:'article',
             asc:true,
             container:c,
             allowComment:[[${article.allowComment}]],
             afterLoad:function(page){
               if(page.totalRow>0){
                  c.show();
                  c.prepend('<hr>');
               }else{
               	  c.hide();
               }
             }
         }
    </script>
	<script th:src="@{/static/plugin/comment/js/new_comment_bs4.js}"></script>
	<script>
   $(function() {
            var p = false;
            $("pre").each(function() {
                var me = $(this);
                if (me.hasClass('prettyprint prettyprinted'))
                    return;
                if (me.find('code').length == 0)
                    return;
                else {
                    p = true;
                    me.addClass("prettyprint");
                }
            });
            prettyPrint();
     
    		 cmt.renderComment(_config);
    		$('[data-comment]').click(function(){
    	        	cmt.doComment(_config.moduleId,_config.moduleType,function(){
    	             cmt.renderComment(_config);
    	            });
    	        });
     
     		$.ajax({
            	method : 'PATCH',
                url : '[[${urls.currentUrl}]]'+'/api/article/'+'[[${article.id}]]',
              	data : {'hits':'+1'}
            });
        });
  </script>
</body>

</html>