<transaction:begin />
<data name="news" th:id="${id}" />
<data name="newsNav" ref-news="news" />
<data name="myInfo" lazy="true" />
<transaction:end />
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>动态</title>
    <link th:href="@{/static/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css?v=1}" />
    <meta name="description" th:content="${jsoups.body(news.content).text()}" />
</head>
<style>
    body {
        padding-top: 54px;
    }

    @media (min-width: 992px) {
        body {
            padding-top: 56px;
        }
    }

    .media-body video {
        max-width: 100% !important;
        height: auto !important;
    }

    .media-body img {
        max-width: 100% ;
        height: auto ;
    }
</style>

<body>

    <!-- Navigation -->
    <fragment name="顶部" />

    <!-- Page Content -->
    <div class="container">
        <div class="media my-4" th:data-news="${news.id}">
            <img class="mr-3" th:src="${gravatars.getOptionalUrl(myInfo.gravatar).orElse('https://www.qyh.me/static/img/guest.png')}" id="gravatar" style="width: 32px; height: 32px;">

            <div class="media-body">
                <h5 class="mt-0">
                    <span th:text="${times.format(news.write,'yyyy-MM-dd HH:mm')}"></span>
                    <a href="javascript:void(0)" th:data-cmt="${news.id}" style="margin-left: 5px" th:if="${news.allowComment || user != null}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
                </h5>
                <div id="news-content" class="wrap">
                    <div th:utext="${news.content}"></div>
                </div>
              	<div class="col-md-2" style="padding:0px">
                  <button class="btn btn-block btn-primary" data-cmt>
                 评论
              	</button>
              </div>
              	<ul class="pagination mb-4 my-4" th:if="${newsNav != null}">
                    <li class="page-item " th:classappend="${newsNav.previous  == null ?'disabled' : ''}">
                        <a class="page-link" th:href="${urls.getUrl(newsNav.previous)}" th:if="${newsNav.previous != null}">&larr;
                            上一条 </a>
                        <a class="page-link" th:if="${newsNav.previous == null}">&larr;
                            上一条 </a>
                    </li>
                    <li class="page-item" th:classappend="${newsNav.next == null ?'disabled' : ''}">
                        <a class="page-link" th:href="${urls.getUrl(newsNav.next)}" th:if="${newsNav.next != null}">下一条&rarr;</a>
                        <a class="page-link" th:if="${newsNav.next == null}">下一条&rarr;</a>
                    </li>
                </ul>
                <div id="comment-detail"></div>
            </div>
        </div>
    </div>

    <fragment name="底部" />

    <script th:src="@{/static/jquery/jquery.min.js}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/static/sweet2alert/dist/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/prettify/prettify.js}"></script>
	<script th:src="@{/static/js/base.js}"></script>
	<script th:src="@{/static/js/moment.min.js}"></script>
 	<script>
      var basePath = '[[@{/}]]';
      var actPath = '[[${urls.currentUrl}]]';
      if(basePath == '/'){
      	basePath = '';
      }
         var config = {
            isLogin: [[${user != null}]],
            gravatarPrefix: '[[${gravatars.getUrl('')}]]'
        };
      	var c = $("#comment-detail");
     	var _config = {
         	 pageSize:10,
             page:1,
             moduleId:[[${news.id}]],
             moduleType:'news',
             asc:true,
             container:c,
             allowComment:[[${news.allowComment}]],
             afterLoad:function(page){
               if(page.totalRow>0){
                  c.show();
                  c.prepend('<hr>');
               }else{
               	  c.hide();
               }
             }
         }
    </script>
	<script th:src="@{/static/plugin/comment/js/new_comment_bs4.js}"></script>
	<script>
      var $cmt = cmt;
      $cmt.renderComment(_config);

      $(document).on('click', '[data-cmt]', function() {
        $cmt.doComment('[[${news.id}]]', 'news', function() {
          $cmt.renderComment(_config);
        });
      });
      
      	if(window.location.hash) {
      		var hash = window.location.hash.substring(1);
          	if(hash == 'comment'){
            	$cmt.doComment('[[${news.id}]]', 'news', function() {
                  $cmt.renderComment(_config);
                });
            }
  		}
      	
      	$.ajax({
        	method : 'PATCH',
            url : '[[${urls.url}]]'+'/api/news/'+'[[${news.id}]]',
          	data : {'hits':'+1'}
        });
  	</script>
</body>

</html>