<data path="api/articles" alias="page"
	th:currentPage="${param.currentPage}" pageSize="10"
	th:query="${param.query}" th:tag="${param.tag}" status="PUBLISHED" queryPrivate="true"
	queryPasswordProtected="true"></data>
<data path="api/momentArchives" currentPage="1" pageSize="1" alias="momentArchivePage"/>
<data path="api/categories" alias="categories"/>
<data path="api/lastComments" alias="lastComments" />
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Language" content="en" />
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#4188c9">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<title>主页</title>
<link rel="stylesheet" th:href="@{/static/fontawesome/css/all.min.css}" />
<link th:href="@{/static/tabler/dist/assets/css/dashboard.css}"
	rel="stylesheet" />
</head>
<body style="overflow-y: auto">
	<div class="page">
		<div class="flex-fill">
			<div th:replace="nav('index')"></div>
			<div class="my-3 my-md-5">
				<div class="container">
					<div class="row row-cards">
						<div class="col-xl-8">
							<div class="card card-aside" th:each="article : ${page.datas}">
								<div th:if="${article.featureImage != null}" th:remove="tag">
									<a href="#" class="card-aside-column"
										th:style="'background-image: url(\''+@{${article.featureImage}}+'\')'"></a>
								</div>

								<div class="card-body d-flex flex-column">
									<h4 style="word-break: break-all">
										<a
											th:href="@{${#urls.getUrl(article)}}">[[${article.title}]]</a>
									</h4>
									<div class="text-muted mb-1">
										<small> <a th:href="@{/(category=${category.name})}"
											class="badge badge-primary mr-1"
											th:each="category : ${article.categories}">[[${category.name}]]</a>
										</small>
									</div>
									<div class="text-muted mb-1" th:if="${article.tags != null}">
										<small> <a th:href="@{/(tag=${tag.name})}"
											class="badge  mr-1" style="color: inherit"
											th:each="tag : ${article.tags}">[[${tag.name}]]</a>
										</small>
									</div>
									<div style="word-break: break-all">
                                      <p class="alert alert-warning" th:if="${article.hasPassword}">
                                        内容受保护
                                      </p>
                                      <p th:if="${article.summary != null}" th:with="parser=${#jsoups.parser(#jsoups.body(article.summary))}">
                                        [[${parser.text}]]
                                      </p>
                                  </div>
									<div class="text-muted">
										<small> <span class="badge  mr-1"
											style="color: inherit"><i class="far fa-comment mr-1"></i>[[${article.comments}]]<i
												class="fas fa-fire mr-1 ml-2"></i>[[${article.hits}]]</span>
										</small>
									</div>
									<div class="d-flex align-items-center pt-5 mt-auto">
										<div>
											<small class="d-block text-muted mr-1"
												th:text="${#times.format(article.pubDate,'yyyy-MM-dd HH:mm:ss')}"
												th:if="${article.pubDate != null}"></small>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-4">
							<div th:if="${momentArchivePage.totalRow > 0}"
								th:with="momentArchive=${momentArchivePage.datas.get(0)}">
								<h4>[[${#times.format(momentArchive.date,'yyyy-MM-dd')}]]</h4>
								<div class="card" th:each="moment : ${momentArchive.moments}"
									th:data-momentid="${moment.id}" style="cursor: pointer"
									th:with="parser=${moment.content != null ? #jsoups.parser(#jsoups.body(moment.content)) : null}">
									<div th:remove="tag"
										th:with="img=${parser != null ? parser.firstImage : null}">
										<a href="javascript:void(0)"
											th:if="${img != null && img.present}"> <img
											class="card-img-top" th:src="${img.get()}">
										</a>
									</div>
									<div class="card-body d-flex flex-column">
										<div class="text-muted"
											th:with="text=${parser != null ? parser.text : null}">
											<i class="fas fa-lock mr-2" th:if="${moment.hasPassword}"></i>
											<p th:remove="tag" th:if="${text != null}">[[${text.length()
												> 50 ? text.substring(0,50)+'...':text}]]</p>
											<p th:if="${moment.hasPassword && moment.content == null}"
												th:remove="tag">内容受到密码保护</p>
										</div>
										<div class="d-flex align-items-center pt-5 mt-auto">
											<small class="d-block text-muted">[[${#times.format(moment.time,'HH:mm')}]]</small>
											<div class="ml-auto text-muted">
												<small> <span class="badge  mr-1"
													style="color: inherit"><i
														class="far fa-comment mr-1"></i>[[${moment.comments}]]<i
														class="fas fa-fire mr-1 ml-2"></i>[[${moment.hits}]]</span>
												</small>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div th:unless="${lastComments.empty}" class="card">
								<div class="card-header">评论</div>
								<div class="card-body">
									<div class="d-flex mb-5" th:each="comment:${lastComments}" data-comment th:data-module-name="${comment.module.name}" th:data-module-id="${comment.module.id}">
										<div class="mr-4">
											<span class="avatar"
												th:style="'background-image: url('+${comment.gravatar == null ? '/static/img/guest.png' : 'https://secure.gravatar.com/avatar/'+comment.gravatar}+')'">
											</span>
										</div>
										<div class="flex-fill">
											<div class="d-flex mt-n1">
												<h5 class="m-0">[[${comment.nickname}]]</h5>
												<div class="ml-auto small text-muted">[[${#times.format(comment.createTime,'yyyy-MM-dd
													HH:mm')}]]</div>
											</div>
											<p class="mb-2" style="font-size: 13px"
												th:with="parser=${#jsoups.parser(#jsoups.body(comment.content))}">
												[[${parser.text}]]</p>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
					<ul class="pagination pagination-simple  justify-content-center"
						th:if="${page.hasPaging}"
						th:with="paging=${#pagings.step(page,5)}">
						<li th:each=" i : ${paging}"
							th:class="${(i == page.currentPage) ? 'page-item active' : 'page-item'}"><a
							class="page-link" th:onclick="'paging(\''+${i}+'\')'"
							href="javascript:void(0)" th:text="${i}"></a></li>
					</ul>

					<form id="queryForm" style="display: none" th:action="@{/}">
						<input type="hidden" th:value="${page.param.category}"
							name="category" /> <input type="hidden"
							th:value="${page.param.tag}" name="tag" /> <input type="hidden"
							th:value="${page.param.currentPage}" name="currentPage"
							id="currentPage" />
					</form>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<div class="row align-items-center flex-row-reverse">
					<div class="col-auto ml-lg-auto"></div>
					<div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
						Copyright © [[${#times.format(#times.now(),'yyyy')}]]</div>
				</div>
			</div>
		</footer>
	</div>
	<script
		th:src="@{/static/tabler/dist/assets/js/vendors/jquery-3.2.1.min.js}"></script>
	<script
		th:src="@{/static/tabler/dist/assets/js/vendors/bootstrap.bundle.min.js}"></script>
	<script
		th:src="@{/static/tabler/dist/assets/js/vendors/sweetalert2.all.min.js}"></script>
	<script>
		var rootPath = '[[@{/}]]';
		function paging(i) {
			document.getElementById('currentPage').value = i;
			document.getElementById('queryForm').submit();
		}
      for(const elem of document.querySelectorAll('[data-momentid]')){
			elem.addEventListener('click',function(){
				window.location.href = rootPath + 'moments/'+this.dataset.momentid;
			});
		}
      for(const elem of document.querySelectorAll('[data-comment]')){
			elem.addEventListener('click',function(){
				var name = this.dataset.moduleName;
              	var id = this.dataset.moduleId;
              	if(name === 'moment'){
                	window.location.href = rootPath + 'moments/'+id
                } else {
                	$.get(rootPath + 'api/commentModule/'+name+'/'+id,{},function(data){
                    	if(name === 'article'){
                        	if(data.alias){
                				window.location.href = rootPath + 'articles/'+data.alias
                            } else {
                				window.location.href = rootPath + 'articles/'+data.id
                            }
                        } else {
                        	if(data.definitelyPattern === true){
                				window.location.href = rootPath + data.pattern.splice(1)
                            }
                        }
                    });
                }
			});
		}
	</script>
</body>