<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.mapper.ArticleTagMapper">


	<resultMap type="ArticleTagStatistic"
		id="ArticleTagStatisticMap">
		<id column="id"/>
		<result column="count" property="count" />
		<association property="tag" javaType="Tag">
			<result column="id" property="id" />
			<result column="name" property="name" />
			<result column="createTime" property="createTime" />
			<result column="modifyTime" property="modifyTime" />
		</association>
	</resultMap>

	<delete id="deleteByArticle">
		delete from blog_article_tag where articleId =
		#{articleId}
	</delete>

	<insert id="insert">
		insert into blog_article_tag(articleId,tagId)
		values(#{articleId},#{tagId})
	</insert>

	<delete id="deleteByTag">
		delete from blog_article_tag where tagId = #{tagId}
	</delete>

	<select id="selectCount" resultMap="ArticleTagStatisticMap">
		select t.id,t.name,t.createTime,t.modifyTime,count from blog_tag t
		inner join (
		select categoryId,tagId,count(bat.articleId) as count from
		blog_article_tag bat
		left join blog_article_category bac on
		bat.articleId = bac.articleId
		left join blog_article ba on
		bac.articleId = ba.id
		where ba.status = 0
			<if test="!queryPrivate">
				and isPrivate = false
			</if>
			<if test="categoryId != null">
				and categoryId = #{categoryId}
			</if>
		group by categoryId,tagId
		) as a on a.tagId = t.id
		order by count desc
	</select>
</mapper>