<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.core.dao.ArticleTagDao">

	
	<resultMap type="me.qyh.blog.core.vo.TagCount" id="TagCountDetail">
		<id column="tag_id"/>
		<result property="count" column="counts"/>
		<association property="tag" javaType="Tag">
			<result property="id" column="tag_id"/>
			<result property="name" column="tag_name"/>
			<result property="create" column="tag_create_date"/>
		</association>
	</resultMap>
	
	<insert id="insert">
		INSERT INTO blog_article_tag(article_id,tag_id)
		VALUES(#{article.id},#{tag.id})
	</insert>

	<delete id="deleteByTag">
		DELETE FROM blog_article_tag WHERE tag_id = #{id}
	</delete>

	<delete id="deleteByArticle">
		DELETE FROM blog_article_tag WHERE article_id = #{id}
	</delete>
	
	<update id="merge">
		UPDATE blog_article_tag
		SET tag_id = #{dest.id}
		WHERE tag_id = #{src.id}
	</update>
	
	
	<select id="selectTags" resultMap="TagCountDetail">
		SELECT COUNT(bt.id) AS counts,bt.id AS tag_id,bt.create_date AS tag_create_date,tag_name FROM blog_tag bt 
		LEFT OUTER JOIN blog_article_tag bat ON bt.id = bat.tag_id 
		LEFT OUTER JOIN blog_article ba ON bat.article_id = ba.id
		LEFT OUTER JOIN blog_space bs ON ba.space_id = bs.id
		WHERE ba.art_status = 0 
		<if test="space != null">
			AND ba.space_id = ${space.id}
		</if>
		<if test="!queryPrivate">
			AND ba.isPrivate = FALSE
			AND bs.is_private = FALSE
		</if>
		GROUP BY bt.id
		ORDER BY counts DESC,tag_create_date DESC,bt.id DESC
	</select>
	
	<select id="selectTagsCount" resultType="int">
		SELECT COUNT(DISTINCT(bat.tag_id)) AS counts  
		FROM blog_article_tag bat
		LEFT OUTER JOIN blog_article ba ON bat.article_id = ba.id
		LEFT OUTER JOIN blog_space bs ON ba.space_id = bs.id
		WHERE ba.art_status = 0 
		<if test="space != null">
			AND ba.space_id = ${space.id}
		</if>
		<if test="!queryPrivate">
			AND ba.isPrivate = FALSE
			AND bs.is_private = FALSE
		</if>
	</select>
	
	<select id="selectAllTagsCount" resultType="int">
		SELECT COUNT(DISTINCT(bt.id)) FROM blog_tag bt 
		LEFT OUTER JOIN blog_article_tag bat ON bt.id = bat.tag_id 
		LEFT OUTER JOIN blog_article ba ON bat.article_id = ba.id
		<where>
			<if test="space != null">
				ba.space_id = ${space.id}
			</if>
		</where>
	</select>
</mapper>