<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.file.dao.FileDeleteDao">
	<resultMap type="FileDelete" id="FileDeleteDetail">
		<id column="id" property="id" />
		<result column="file_store" property="store"/>
		<result column="file_key" property="key"/>
		<result column="file_type" property="type" typeHandler="EnumOrdinalTypeHandler"/>
	</resultMap>
	
	<insert id="insert">
		INSERT INTO blog_file_delete(file_store,file_key,file_type)
		VALUES(#{store},#{key},#{type,javaType=BlogFileType,typeHandler=EnumOrdinalTypeHandler})
	</insert>
	
	<select id="selectAll" resultMap="FileDeleteDetail">
		SELECT id,file_store,file_key,file_type FROM blog_file_delete
	</select>
	
	<delete id="deleteById">
		DELETE FROM blog_file_delete WHERE id = #{id}
	</delete>
	
	<select id="selectChildren" resultMap="FileDeleteDetail">
		SELECT id,file_store,file_key,file_type FROM blog_file_delete WHERE file_key  LIKE CONCAT('', #{key},'%')
	</select>
	
	<delete id="deleteChildren">
		DELETE FROM blog_file_delete WHERE file_key  LIKE CONCAT('', #{key},'%')
	</delete>

</mapper>