<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.template.dao.FragmentDao">
	<resultMap type="Fragment" id="FragmentDetail">
		<id column="id" property="id" />
		<result property="name" column="fragment_name"/>
		<result property="description" column="fragment_description"/>
		<result property="tpl" column="fragment_tpl"/>
		<result property="createDate" column="fragment_create_date"/>
		<result property="global" column="is_global"/>
		<result property="callable" column="is_callable"/>
		<result property="del" column="is_del"/>
		<association property="space" javaType="Space">
			<result column="space_id" property="id" />
			<result column="space_name" property="name"/>
		</association>
	</resultMap>
	
	<delete id="deleteById">
		DELETE FROM blog_fragment_user WHERE id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO blog_fragment_user(fragment_name,fragment_description,fragment_tpl,fragment_create_date,space_id,is_global,is_callable)
		VALUES(#{name},#{description},#{tpl},#{createDate},#{space.id},#{global},#{callable})
	</insert>
	
	<select id="selectBySpaceAndName" resultMap="FragmentDetail">
		SELECT
			id,
			fragment_name,
			fragment_description,
			fragment_tpl,
			fragment_create_date,
			space_id,
			is_global,
			is_callable,
			is_del
		FROM
			blog_fragment_user
		WHERE 
			fragment_name = #{name}
			AND is_global = FALSE
		<choose>
			<when test="space == null">
				AND space_id IS NULL
			</when>
			<otherwise>
				AND space_id = #{space.id}
			</otherwise>
		</choose>
	</select>
	
	<select id="selectById" resultMap="FragmentDetail">
		SELECT
			id,
			fragment_name,
			fragment_description,
			fragment_tpl,
			fragment_create_date,
			space_id,
			is_global,
			is_callable,
			is_del
		FROM
			blog_fragment_user
		WHERE 
			id = #{id}
	</select>
	
	<select id="selectPage" resultMap="FragmentDetail">
		SELECT
			bfu.id,
			fragment_name,
			fragment_description,
			fragment_tpl,
			fragment_create_date,
			space_id,
			space_name,
			is_global,
			is_callable
		FROM
			blog_fragment_user bfu
		LEFT OUTER JOIN blog_space bs ON bfu.space_id = bs.id
		WHERE
			is_del = false 
			<if test="name != null and name != ''">
				AND fragment_name LIKE CONCAT('%', #{name},'%')
			</if>
			<if test="space != null">
				<choose>
					<when test="space.id == null">
						AND space_id IS NULL
					</when>
					<otherwise>
						AND space_id = #{space.id}
					</otherwise>
				</choose>
			</if>
			<if test="global != null">
				AND is_global = #{global}
			</if>
			<if test="callable != null">
				AND is_callable = #{callable}
			</if>
		ORDER BY fragment_create_date DESC
		LIMIT #{offset},#{pageSize}
	</select>
	
	<select id="selectCount" resultType="int">
		SELECT 
			COUNT(id) 
		FROM 
			blog_fragment_user 
		WHERE
			is_del = false 
			<if test="name != null and name != ''">
				AND fragment_name LIKE CONCAT('%', #{name},'%')
			</if>
			<if test="space != null">
				<choose>
					<when test="space.id == null">
						AND space_id IS NULL
					</when>
					<otherwise>
						AND space_id = #{space.id}
					</otherwise>
				</choose>
			</if>
			<if test="global != null">
				AND is_global = #{global}
			</if>
			<if test="callable != null">
				AND is_callable = #{callable}
			</if>
	</select>
	
	<update id="update">
		UPDATE
			blog_fragment_user 
		<set>
			<if test="name != null">
				fragment_name = #{name},
			</if>
			<if test="description != null">
				fragment_description = #{description},
			</if>
			<if test="tpl != null">
				fragment_tpl = #{tpl},
			</if>
			is_del = #{del},
			space_id = #{space.id},
			is_global = #{global},
			is_callable = #{callable}
		</set>
		WHERE 
			id = #{id}
	</update>
	
	<select id="selectGlobalByName" resultMap="FragmentDetail">
		SELECT
			id,
			fragment_name,
			fragment_description,
			fragment_tpl,
			fragment_create_date,
			space_id,
			is_global,
			is_callable,
			is_del
		FROM
			blog_fragment_user
		WHERE 
			fragment_name = #{name}
			AND is_global = TRUE
	</select>
	
	<select id="selectBySpace" resultMap="FragmentDetail">
		SELECT
			id,
			fragment_name,
			fragment_description,
			fragment_create_date,
			space_id,
			is_global,
			is_callable,
			is_del
		FROM
			blog_fragment_user
		WHERE 
			<choose>
			<when test="space == null">
				space_id IS NULL
			</when>
			<otherwise>
				space_id = #{space.id}
			</otherwise>
			</choose>
	</select>
</mapper>