<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.template.dao.HistoryTemplateDao">

	<resultMap type="HistoryTemplate" id="HistoryTemplateDetail">
		<id column="id" property="id" />
		<result column="template_type" property="type" typeHandler="EnumOrdinalTypeHandler" />
		<result column="template_id" property="templateId" />
		<result column="template_tpl" property="tpl" />
		<result column="template_time" property="time" />
		<result column="remark" property="remark" />
	</resultMap>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO blog_history_template(template_id,template_type,template_tpl,template_time,remark)
		VALUES(#{templateId},#{type,javaType=HistoryTemplateType,typeHandler=EnumOrdinalTypeHandler},#{tpl},#{time},#{remark})
	</insert>
	
	
	<select id="selectByTemplate" resultMap="HistoryTemplateDetail">
		SELECT id,template_id,template_type,template_time,remark FROM blog_history_template
		WHERE template_id = #{id}
		AND template_type = #{type,javaType=HistoryTemplateType,typeHandler=EnumOrdinalTypeHandler}
	</select>
	
	<delete id="deleteByTemplate">
		DELETE FROM blog_history_template WHERE template_id = #{id}
		AND template_type = #{type,javaType=HistoryTemplateType,typeHandler=EnumOrdinalTypeHandler}
	</delete>
	
	<delete id="deleteById">
		DELETE FROM blog_history_template WHERE id = #{id}
	</delete>
	
	<select id="selectById" resultMap="HistoryTemplateDetail">
		SELECT id,template_id,template_type,template_time,remark,template_tpl FROM blog_history_template
		WHERE id = #{id}
	</select>
	
	<update id="update">
		UPDATE blog_history_template
		SET
			remark = #{remark}
		WHERE id = #{id}			
	</update>
</mapper>