<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.template.dao.PageDao">
	<resultMap type="Page" id="PageDetail">
		<id column="id" property="id" />
		<result column="page_tpl" property="tpl"/>
		<result column="page_name" property="name"/>
		<result column="page_alias" property="alias"/>
		<result column="page_spaceGlobal" property="spaceGlobal"/>
		<result column="page_description" property="description"/>
		<result column="page_create_date" property="createDate"/>
		<result column="page_allowComment" property="allowComment"/>
		<association property="space" javaType="Space">
			<result column="space_id" property="id"/>
			<result column="space_name" property="name"/>
			<result column="space_alias" property="alias"/>
		</association>
	</resultMap>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO blog_page_user(space_id,page_tpl,page_name,page_description,page_create_date,page_alias,page_allowComment,page_spaceGlobal)
		VALUES(#{space.id},#{tpl},#{name},#{description},#{createDate},#{alias},#{allowComment},#{spaceGlobal})
	</insert>
	
	<update id="update">
		UPDATE blog_page_user
		SET
			page_name = #{name},
			page_description = #{description},
			space_id = #{space.id},
			page_tpl = #{tpl},
			page_alias = #{alias},
			page_allowComment = #{allowComment},
			page_spaceGlobal = #{spaceGlobal}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteById">
		DELETE FROM blog_page_user WHERE id = #{id}
	</delete>

	<select id="selectById" resultMap="PageDetail">
		SELECT bpu.id,space_id,page_tpl,page_name,page_description,page_create_date,space_name,space_alias,page_alias,page_allowComment,page_spaceGlobal FROM blog_page_user bpu LEFT OUTER JOIN blog_space bs ON bpu.space_id = bs.id WHERE bpu.id = #{id}
	</select>
	
	<select id="selectBySpace" resultMap="PageDetail">
		SELECT bpu.id,space_id,page_tpl,page_name,page_description,page_create_date,space_name,space_alias,page_alias,page_allowComment,page_spaceGlobal FROM blog_page_user bpu LEFT OUTER JOIN blog_space bs ON bpu.space_id = bs.id 
		WHERE 
		<choose>
			<when test="space == null">
				bpu.space_id IS NULL
			</when>
			<otherwise>
				bpu.space_id = #{space.id}
			</otherwise>
		</choose>
	</select>
	
	<select id="selectBySpaceAndAlias" resultMap="PageDetail">
		SELECT bpu.id,space_id,page_tpl,page_name,page_description,page_create_date,space_name,space_alias,page_alias,page_allowComment,page_spaceGlobal 
		FROM blog_page_user bpu LEFT OUTER JOIN blog_space bs ON bpu.space_id = bs.id 
		WHERE 
		<choose>
			<when test="space == null">
				bpu.space_id IS NULL
			</when>
			<otherwise>
				bpu.space_id = #{space.id}
			</otherwise>
		</choose>
		AND bpu.page_alias = #{alias}
		AND bpu.page_spaceGlobal = #{spaceGlobal}
	</select>
	
	<select id="selectPage" resultMap="PageDetail">
		SELECT
			bpu.id,space_id,page_tpl,page_name,page_description,page_create_date,space_name,space_alias,page_alias,page_allowComment,page_spaceGlobal 
		FROM
			blog_page_user bpu
		LEFT OUTER JOIN blog_space bs ON bpu.space_id = bs.id
		<where>
			<if test="space != null">
				<choose>
					<when test="space.id == null">
						bpu.space_id IS NULL
					</when>
					<otherwise>
						bpu.space_id = #{space.id}
					</otherwise>
				</choose>
			</if>
			<if test="name != null and name != ''">
				AND page_name LIKE CONCAT('%', #{name},'%')
			</if>
			<if test="alias != null and alias != ''">
				AND page_alias LIKE CONCAT('%', #{alias},'%')
			</if>
		</where>
		ORDER BY page_create_date DESC,bpu.id DESC
		LIMIT #{offset},#{pageSize}
	</select>
	
	<select id="selectCount" resultType="int">
		SELECT 
			COUNT(id) 
		FROM 
			blog_page_user
		<where>
			<if test="space != null">
				<choose>
					<when test="space.id == null">
						space_id IS NULL
					</when>
					<otherwise>
						space_id = #{space.id}
					</otherwise>
				</choose>
			</if>
			<if test="name != null and name != ''">
				AND page_name LIKE CONCAT('%', #{name},'%')
			</if>
			<if test="alias != null and alias != ''">
				AND page_alias LIKE CONCAT('%', #{alias},'%')
			</if>
		</where>
	</select>
	
	<select id="selectAll" resultMap="PageDetail">
		SELECT
			bpu.id,space_id,page_tpl,page_name,page_description,page_create_date,space_name,space_alias,page_alias,page_allowComment,page_spaceGlobal 
		FROM
			blog_page_user bpu
		LEFT OUTER JOIN blog_space bs ON bpu.space_id = bs.id
		ORDER BY page_create_date,bpu.id
	</select>
	
	<select id="selectSimpleByIds" resultMap="PageDetail">
		SELECT bpu.id,space_id,page_name,space_alias,page_alias,page_spaceGlobal  FROM blog_page_user bpu LEFT OUTER JOIN blog_space bs ON bpu.space_id = bs.id 
		WHERE bpu.id IN
		<foreach collection="collection" item="id" open="(" close=")"
			separator=",">#{id}</foreach>
	</select>
</mapper>