<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.core.dao.TagDao">

	<resultMap type="Tag" id="TagDetail">
		<id property="id" column="id"/>
		<result property="name" column="tag_name"/>
		<result property="create" column="create_date"/>
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO blog_tag(tag_name,create_date) VALUES(#{name},#{create})
	</insert>
	
	<select id="selectByName" resultMap="TagDetail">
		SELECT tag_name,create_date,id FROM blog_tag WHERE LOWER(tag_name) = #{name}
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(id) FROM blog_tag 
		<where>
			<if test="tag != null">
				LOWER(tag_name) LIKE CONCAT('%', #{tag},'%')
			</if>
		</where>
	</select>
	
	<select id="selectPage" resultMap="TagDetail">
		SELECT id,tag_name,create_date
		FROM blog_tag 
		<where>
			<if test="tag != null">
				LOWER(tag_name) LIKE CONCAT('%', #{tag},'%')
			</if>
		</where>
		ORDER BY create_date DESC,id DESC
		LIMIT #{offset},#{pageSize}
	</select>
	
	<update id="update">
		UPDATE blog_tag
		<set>
			<if test="name != null">
				tag_name = #{name}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectAll" resultMap="TagDetail">
		SELECT id,tag_name,create_date
		FROM blog_tag 
	</select>
	
	<select id="selectById" resultMap="TagDetail">
		SELECT id,tag_name,create_date
		FROM blog_tag WHERE id = #{id}
	</select>
	
	<delete id="deleteById" >
		DELETE FROM blog_tag WHERE id = #{id}
	</delete>
	
</mapper>