
<!DOCTYPE html>
<html>
<div th:replace="mgr/file/local/head"></div>
<body>

	<div class="container">
		<textarea id="code" name="code" rows="5" class="form-control"
			style="display: none" th:text="${file.content}"></textarea>
	</div>

	<div th:replace="mgr/file/local/foot"></div>

	<script th:src="@{/static/codemirror/mode/css/css.js}"></script>
	<script th:src="@{/static/codemirror/addon/hint/css-hint.js}"></script>
	<script th:src="@{/static/js-beautify/beautify.min.js}"></script>
	<script th:src="@{/static/js-beautify/beautify-css.min.js}"></script>
	<script>
		editor.setOption('mode', 'css');
		editor.setOption('indentUnit',4);
		$(document).keydown(function(e) {
			if (e.ctrlKey && e.shiftKey && e.which === 70) {
				editor.setValue(css_beautify(editor.getValue()));
				return false;
			}
			return true;
		});
	</script>

</body>