<!DOCTYPE html>
<html>

<head th:replace="console/base/head :: head('模板片段管理','')"></head>

<body id="page-top">

	<nav th:replace="console/base/nav"></nav>
	<div th:replace="console/base/mobile_nav"></div>

	<div id="wrapper">

		<!--sidebar-->
		<ul th:replace="console/base/sidebar :: active('fragment')"></ul>

		<div id="content-wrapper">

			<div class="container-fluid">

				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i>
					</div>
					<div class="card-body">

						<form class="form-inline justify-content-left my-2">
							<div class="form-group mr-sm-3">
								<label  class="sr-only">名称|路径</label> <input
									type="text" class="form-control" id="query"
									placeholder="查询">
							</div>
							
							<div class="btn-group" role="group" aria-label="Basic example">
								<a th:href="@{/console/template/fragment/new}" class="btn btn-secondary" id="query">新模板片段</a>
								<button type="button" class="btn btn-secondary" id="query-btn">查询</button>
							</div>
						</form>

						<div class="table-responsive">
							<table class="table table-bordered" id="fragmentTable"
								width="100%" cellspacing="0">
								<thead>
									<tr>
										<th data-bind="xx1">ID</th>
										<th data-bind="name">名称</th>
										<th data-bind="space">空间</th>
										<th data-bind="enable">是否启用</th>
										<th data-bind="createDate">创建日期</th>
										<th data-bind="id">操作</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div id="fragmentTable_paging"></div>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->

			<div th:replace="console/base/footer"></div>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

<div class="modal fade" id="historyModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">历史模板</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table" id="historyTable">
							<thead>
								<tr>
									<th data-bind="time">时间</th>
									<th data-bind="remark">备注</th>
									<th data-bind="id">操作</th>
								</tr>
							<thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="saveHistory">保存当前模板片段为历史模板</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="console/base/foot"></div>
	<script th:src="@{/static/console/js/fragment.js}"></script>

</body>

</html>
