<link rel="stylesheet"
	th:href="@{/static/jquery-file-upload/css/jquery.fileupload.css}">
<link th:href="@{/static/codemirror/lib/codemirror.css}"
	rel="stylesheet">
<link th:href="@{/static/codemirror/addon/hint/show-hint.css}"
	rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/static/codemirror/addon/dialog/dialog.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/addon/search/matchesonscrollbar.css}">
<link rel="stylesheet" th:href="@{/static/codemirror/addon/fold/foldgutter.css}">
<link rel="stylesheet" th:href="@{/static/prettify/github-v2.min.css}">
<link rel="stylesheet" th:href="@{/static/css/markdown.css}">
<style>
#docModal th{white-space: nowrap!important}
#docModal td{white-space: nowrap!important}
</style>