<!DOCTYPE HTML>
<html>
<head th:replace="console/base/head :: head('','console/template/head')"></head>
<body>
	<div class="container-fluid" style="padding: 0px">
		<div
			style="overflow-x: auto; margin-top: 5px; margin-bottom: 5px; padding: 5px; white-space: nowrap"
			id="toolbar">

			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-warning" id="back">返回</button>
				<button type="button" class="btn btn-secondary" id="file">文件</button>
				<!-- 				<button type="button" class="btn btn-secondary" id="doc" st>文档</button> -->
				<button type="button" class="btn btn-secondary" id="page">默认页面</button>
				<button type="button" class="btn btn-secondary" id="clear">清空</button>
				<button type="button" class="btn btn-secondary" id="beautiful">美化</button>
				<button type="button" class="btn btn-secondary" id="lock">访问锁</button>
				<button type="button" class="btn btn-secondary" id="query">查询</button>
				<button type="button" class="btn btn-secondary" id="preview">预览</button>
				<button type="button" class="btn btn-secondary" id="backup">备份</button>
				<button type="button" class="btn btn-secondary" id="history">历史模板</button>
				<button type="button" class="btn btn-secondary" id="save">保存</button>

			</div>

		</div>
		<div
			style="text-align: right; float: right; position: fixed; z-index: 99999; bottom: 30px; line-height: 30px; font-weight: 600; right: 30px"
			id="auto-save-timer"></div>
		<div>
			<textarea style="display: none" id="editor" th:text="${page.tpl}"></textarea>
		</div>
	</div>
	
	<div
		style="width: 200px; position: fixed;background-color:#fff; bottom: 58px; right: 30px; border: 1px solid #ced4da; border-radius: .25rem; padding: 5px; display: none; max-height: 150px; word-break: break-all; z-index: 9999; overflow-y: auto"
		id="search-results"></div>
	<input type="text" class="form-control"
		style="position: fixed; right: 30px; bottom: 10px; max-width: 200px; z-index: 9999999"
		id="doc-search" placeholder="搜索文档">
	<i class="fas fa-times"
		style="position: fixed; right: 40px; z-index: 9999999; bottom: 1.3rem; display: none; cursor: pointer"
		id="doc-search-clear"></i>
	<div class="card"
		style="position: fixed; bottom: 10px; right: 30px; display: none; z-index: 9999999"
		id="doc-card">
		<div class="card-body">
			<h5 class="card-title" id="doc-title"></h5>
			<p class="card-text markdown-body"
				style="max-height: 400px; overflow-y: auto" id="doc-content"></p>
			<a href="javascript:void(0)" id="close-doc-card"
				class="btn btn-primary">关闭</a>
		</div>
	</div>

	<div class="modal" id="lookupModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">查询</h4>
				</div>
				<div class="modal-body">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item"><a class="nav-link active" id="data-tab"
							data-toggle="tab" href="#data" role="tab" aria-controls="home"
							aria-selected="true">数据标签</a></li>
						<li class="nav-item"><a class="nav-link" id="fragment-tab"
							data-toggle="tab" href="#fragment" role="tab"
							aria-controls="profile" aria-selected="false">模板片段</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="data" role="tabpanel">
							<div class="table-responsive">
								<table class="table" id="dataTable">
									<tr>
										<th data-bind="name">数据名</th>
										<th data-bind="xx">操作</th>
									</tr>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="fragment" role="tabpanel">
							<div class="table-responsive">
								<table class="table" id="fragmentTable">
									<tr>
										<th data-bind="name">模板片段名</th>
										<th data-bind="xx">操作</th>
									</tr>
								</table>
							</div>
							<div id="fragmentTable_paging"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="lockModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">锁</h4>
				</div>
				<div class="modal-body" id="lockBody"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="templateModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">模板</h4>
				</div>
				<div class="modal-body" id="templateModalBody"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="backupModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">备份</h4>
				</div>
				<div class="modal-body" id="backup-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="previewModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">保存</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label">页面名称</label>
							<div>
								<input type="text" class="form-control" th:value="${page.name}"
									id="name" /> <input type="text" style="display: none">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">页面别名</label>
							<div>
								<input type="text" class="form-control" th:value="${page.alias}"
									id="alias" placeholder="1~30个字符,只能包含英文和数字以及-和_，不能为纯数字" /> <input
									type="text" style="display: none">
							</div>
						</div>
						<div class="form-group">
							<label class=" control-label"></label>
							<div>
								<label>作用于全部空间(除了默认空间)</label> <input type="checkbox"
									id="spaceGlobal"
									th:checked="${page.spaceGlobal ? 'checked' : null}" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">所属空间</label>
							<div>
								<select class="form-control" id="spaceSelect">
									<option th:if="${page.space != null}"
										th:value="${page.space.id}" th:text="${page.space.name}"></option>
									<option value="">无</option>
									<option th:each="space : ${spaces}" th:value="${space.id}"
										th:text="${space.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">描述</label>
							<div>
								<textarea rows="8" cols="8" class="form-control"
									id="description" th:text="${page.description}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label
									th:if="${page.allowComment == null || !page.allowComment}">
									<input type="checkbox" id="allowComment" />允许评论
								</label> <label
									th:if="${page.allowComment != null && page.allowComment}"><input
									type="checkbox" id="allowComment" checked="checked" />允许评论 </label>
							</div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label th:if="${!page.enable}"> <input type="checkbox"
									id="enable" />启用
								</label> <label th:if="${page.enable}"><input type="checkbox"
									id="enable" checked="checked" />启用 </label>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="save()">保存</button>
					<button type="button" class="btn btn-primary" onclick="preview()">预览</button>
				</div>
			</div>
		</div>
	</div>



	<div class="modal fade" id="historyModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">历史模板</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table" id="historyTable">
							<thead>
								<tr>
									<th data-bind="time">时间</th>
									<th data-bind="remark">备注</th>
									<th data-bind="id">操作</th>
								</tr>
							<thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal " id="previewUrlModal" tabindex="-1" role="dialog"
		aria-labelledby="queryModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">访问地址</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="input-group mb-3">
							<input type="text" class="form-control" id="preview-url">
							<div class="input-group-append">
								<span class="input-group-text"><a href="###"
									data-clipboard-target="#preview-url">复制</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>


	<form style="display: none" id="tplForm">
		<input type="hidden"
			th:value="${page.space == null ? '' : page.space.id}" id="space">
		<input type="hidden" th:value="${page.id}" id="pageId">
	</form>
	<input type="hidden" th:value="'page_'+${page.id}" id="pageKey"
		th:if="${page.id != null}">
	<input type="hidden" id="pageKey" th:if="${page.id == null}">
	<div th:replace="console/base/foot"></div>
	<script th:src="@{/static/codemirror/lib/codemirror.js}"></script>
	<script th:src="@{/static/codemirror/addon/mode/overlay.js}"></script>
	<script th:src="@{/static/codemirror/mode/javascript/javascript.js}"></script>
	<script th:src="@{/static/codemirror/mode/css/css.js}"></script>
	<script th:src="@{/static/codemirror/mode/xml/xml.js}"></script>
	<script th:src="@{/static/codemirror/addon/edit/closetag.js}"></script>
	<script th:src="@{/static/codemirror/addon/fold/xml-fold.js}"></script>
	<script th:src="@{/static/codemirror/addon/hint/show-hint.js}"></script>
	<script th:src="@{/static/codemirror/addon/hint/xml-hint.js}"></script>
	<script th:src="@{/static/codemirror/addon/hint/html-hint.js}"></script>
	<script th:src="@{/static/codemirror/addon/hint/javascript-hint.js}"></script>
	<script th:src="@{/static/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
	<script th:src="@{/static/codemirror/addon/dialog/dialog.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/searchcursor.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/search.js}"></script>

	<script th:src="@{/static/codemirror/addon/fold/foldcode.js}"></script>
	<script th:src="@{/static/codemirror/addon/fold/foldgutter.js}"></script>
	<script
		th:src="@{/static/codemirror/addon/scroll/annotatescrollbar.js}"></script>
	<script
		th:src="@{/static/codemirror/addon/search/matchesonscrollbar.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/jump-to-line.js}"></script>
	<script th:src="@{/static/js-beautify/beautify.min.js}"></script>
	<script th:src="@{/static/js-beautify/beautify-css.min.js}"></script>
	<script th:src="@{/static/js-beautify/beautify-html.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/jquery-file-upload/js/load-image.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/canvas-to-blob.min.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/vendor/jquery.ui.widget.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.iframe-transport.js}"></script>
	<script th:src="@{/static/jquery-file-upload/js/jquery.fileupload.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-ui.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-process.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-image.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-audio.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-video.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-validate.js}"></script>
	<script th:src="@{/static/js/clipboard.min.js}"></script>
	<script th:src="@{/static/console/js/local_storage.js}"></script>
	<script th:src="@{/static/js/file.js}"></script>
	<script th:src="@{/static/console/js/page_editor.js}"></script>
	<script th:src="@{/static/js/clipboard.min.js}"></script>
	<script th:src="@{/static/console/js/table.js}"></script>
	<script th:src="@{/static/console/js/page_build.js?v=7.1}"></script>
	<script th:src="@{/static/console/markdowniteditor/md.js}"></script>
	<script th:src="@{/static/console/js/query.js}"></script>
</body>
</html>
