<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.plugin.comment.dao.ArticleCommentDao">

	<resultMap type="me.qyh.blog.plugin.comment.vo.LastArticleComment" id="LastArticleCommentDetail" extends="me.qyh.blog.plugin.comment.dao.CommentDao.CommentDetail">
		<association property="article" javaType="Article">
			<result column="art_lock" property="lockId" />
			<association property="space" javaType="Space">
				<result column="space_lock" property="lockId" />
			</association>
		</association>
	</resultMap>

	<select id="selectLastComments" resultMap="LastArticleCommentDetail">
		SELECT 
		a.id,a.parent_id,a.parent_path,a.content,a.module_id,a.module_type,a.comment_status,a.comment_editor,
		a.comment_date,a.comment_status,a.comment_nickname,a.comment_email,a.comment_ip,a.comment_admin,a.comment_gravatar,a.comment_website,
		 p.comment_editor AS p_comment_edtior,p.module_id AS p_module_id,p.module_type AS p_module_type,
		p.comment_nickname AS p_comment_nickname,p.comment_email AS p_comment_email,p.comment_ip AS p_comment_ip,p.comment_admin AS p_comment_admin,p.comment_gravatar AS p_comment_gravatar,
		ba.art_lock,bs.space_lock
		FROM blog_comment a
		LEFT OUTER JOIN blog_comment p ON a.parent_id = p.id
		LEFT OUTER JOIN blog_article ba ON a.module_id = ba.id
		LEFT OUTER JOIN blog_space bs ON ba.space_id  = bs.id
		WHERE ba.art_status = 0
		AND a.module_type = 'article'
		AND a.comment_status = 0
		<if test="space != null">
			AND bs.id = #{space.id} 
		</if>
		<if test="!queryPrivate">
			AND ba.isPrivate = FALSE 
			AND bs.is_private = FALSE
		</if>
		<if test="!queryAdmin">
			AND a.comment_admin = FALSE
		</if>
		ORDER BY a.comment_date DESC ,a.id DESC
		LIMIT 0,#{limit}
	</select>
	
	
	<select id="selectTotalCommentCount" resultType="int">
		SELECT
			COUNT(a.id)
		FROM
			blog_comment a
		LEFT OUTER JOIN blog_article ba ON a.module_id = ba.id
		LEFT OUTER JOIN blog_space bs ON ba.space_id = bs.id
		WHERE 
			a.comment_status = 0<!-- NORMAL -->
			AND ba.art_status = 0<!-- published -->
			AND a.module_type = 'article'
		<if test="space != null">
			AND ba.space_id = #{space.id}
		</if>
		<if test="!queryPrivate">
			AND ba.isPrivate = false
			AND bs.is_private = false
		</if>
	</select>
</mapper>