<div  th:if="${newsStatistics != null}" th:remove="tag">
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">动态统计</h3>
	</div>
	<ul class="list-group">
		<li class="list-group-item"><strong>动态总数：</strong><span
			th:text="${newsStatistics.total}"></span></li>
		<li class="list-group-item"><strong>点击量：</strong><span
			th:text="${newsStatistics.totalHits}"></span></li>
		<li class="list-group-item"
			th:if="${newsStatistics.lastWrite != null}"><strong>最后发布日期：</strong><span
			th:text="${times.format(newsStatistics.lastWrite,'yyyy-MM-dd HH:mm')}" th:data-timestamp="${times.getTime(newsStatistics.lastWrite)}"></span></li>
		<li class="list-group-item"
			th:if="${newsStatistics.lastModify != null}"><strong>最后修改日期：</strong><span
			th:text="${times.format(newsStatistics.lastModify,'yyyy-MM-dd HH:mm')}" th:data-timestamp="${times.getTime(newsStatistics.lastModify)}"></span></li>
	</ul>
</div>
</div>
