<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.blog.plugin.syslock.dao.SysLockDao">

	<resultMap type="SysLock" id="SysLockDetail">
		<id column="id" property="id" />
		<result column="lock_name" property="name" />
		<result column="createDate" property="createDate" />
		<discriminator javaType="int" column="lock_type">
			<case value="0" resultMap="PasswordLockDetail" />
			<case value="1" resultMap="QALockDetail" />
		</discriminator>
	</resultMap>

	<resultMap type="PasswordLock" id="PasswordLockDetail"
		extends="SysLockDetail">
		<result property="password" column="lock_password" />
	</resultMap>

	<resultMap type="QALock" id="QALockDetail" extends="SysLockDetail">
		<result property="question" column="lock_question" />
		<result property="answers" column="lock_answers" />
	</resultMap>

	<select id="selectById" resultMap="SysLockDetail">
		SELECT
		id,lock_type,lock_password,lock_name,createDate,lock_question,lock_answers
		FROM blog_lock
		WHERE id = #{id}
	</select>

	<select id="selectAll" resultMap="SysLockDetail">
		SELECT
		id,lock_type,lock_password,lock_name,createDate,lock_question,lock_answers
		FROM blog_lock
		ORDER BY createDate DESC,id DESC
	</select>

	<insert id="insert">
		INSERT INTO blog_lock
		<choose>
			<when test="type.name() == 'PASSWORD'">
				(id,lock_name,lock_type,createDate,lock_password)
				VALUES(#{id},#{name},#{type,javaType=SysLockType,typeHandler=EnumOrdinalTypeHandler},#{createDate},#{password})
			</when>
			<when test="type.name() == 'QA'">
				(id,lock_name,lock_type,createDate,lock_question,lock_answers)
				VALUES(#{id},#{name},#{type,javaType=SysLockType,typeHandler=EnumOrdinalTypeHandler},#{createDate},#{question},#{answers})
			</when>
		</choose>
	</insert>

	<update id="update">
		UPDATE blog_lock
		SET
		lock_name = #{name},
		lock_type = #{type,javaType=SysLockType,typeHandler=EnumOrdinalTypeHandler},
		<choose>
			<when test="type.name() == 'PASSWORD'">
				lock_password = #{password}
			</when>
			<when test="type.name() == 'QA'">
				lock_question = #{question},
				lock_answers = #{answers}
			</when>
		</choose>
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM blog_lock WHERE id = #{id}
	</delete>
</mapper>