<script th:src="@{/static/heather/codemirror/lib/codemirror.js}"></script>
<script th:src="@{/static/heather/codemirror/addon/dialog/dialog.js}"></script>
<script
	th:src="@{/static/heather/codemirror/addon/search/searchcursor.js}"></script>
<script th:src="@{/static/heather/codemirror/addon/search/search.js}"></script>
<script
	th:src="@{/static/heather/codemirror/addon/scroll/annotatescrollbar.js}"></script>
<script
	th:src="@{/static/heather/codemirror/addon/search/matchesonscrollbar.js}"></script>
<script
	th:src="@{/static/heather/codemirror/addon/search/jump-to-line.js}"></script>
<script th:src="@{/static/heather/codemirror/addon/hint/show-hint.js}"></script>
<script th:src="@{/static/heather/codemirror/addon/edit/closetag.js}"></script>
<script
	th:src="@{/static/heather/codemirror/addon/display/fullscreen.js}"></script>
<script
	th:src="@{/static/heather/codemirror/addon/edit/matchbrackets.js}"></script>
<script
	th:src="@{/static/heather/codemirror/addon/selection/active-line.js}"></script>
<script>
	var path = '[[${file.path}]]'
	var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
		lineNumbers : true,
		matchBrackets: true,
        autoCloseBrackets: true,
        styleActiveLine: true,
		autoCloseTags: true,
		extraKeys : {
			"Alt-/" : "autocomplete",
			"Ctrl-S" : function(){
				save();
			}
		}
	});
	var headers = document.querySelectorAll('.header');
	var h = 0;
	for(const header of headers){
		h += header.clientHeight;
	}
	editor.setSize(null,window.screen.height-h);
	
	var save = function(){
		 $.ajax({
			type : 'post',
			url : rootPath + 'console/file/update?path='+path,
            contentType: 'application/json',
			data:JSON.stringify({'content':editor.getValue()}),
			success:function(data) {
				if(data.errors){
					toastErrors(data.errros);
					return ;
				}
				toast('保存成功');
			},
			error:function(e) {
				var html = '';
				var errors = e.responseJSON.errors;
				for(const error of errors){
					html += '<p>'+error.message+'</p>';
				}
				toast(html,'error');
			}
		  })
	}
</script>