<!doctype html>
<html>
<head th:replace="console/fragment/head('文件管理')"></head>
<body style="height: 100% !important;">
	<div class="page">
		<div class="flex-fill">
			<div th:replace="console/fragment/profile"></div>
			<div th:replace="console/fragment/headermenu('file')"></div>
			<div class="my-3 my-md-5">
				<div class="container">
					<div class="page-header">
						<div class="page-options d-flex">
							<div class="input-icon ml-2">
								<span class="input-icon-addon"> <i class="fe fe-search"></i>
								</span> <input type="text" id="name" class="form-control w-10"
									placeholder="文件名">
							</div>
							<button class="btn btn-primary" id="securityPath" onclick="showSecurityPaths()"
								style="margin-left: 20px">
								<i class="fas fa-shield-alt"></i>
							</button>
							<button class="btn btn-primary" id="fileStatistics"
								style="margin-left: 20px">
								<i class="far fa-chart-bar"></i>
							</button>
							<button class="btn btn-primary" id="new-file"
								style="margin-left: 20px">
								<i class="far fa-plus-square"></i>
							</button>
							<button class="btn btn-primary" id="upload-file"
								style="margin-left: 20px">
								<i class="fas fa-upload"></i>
							</button>
							
						</div>
					</div>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb" id="file-navs" style="display: none">
						</ol>
					</nav>
					<div class="row row-cards" id="files"></div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="console/fragment/footer"></footer>
	<script th:src="@{/static/console/js/upload.js}"></script>
	<script th:src="@{/static/console/js/file.js}"></script>
	<template id="dirTemplate">
	<div class="col-sm-3 col-lg-2 col-6 ">
		<div class="card p-3 h-100">

			<div style="margin-bottom: 5px">
				<a href="javascript:void(0)" class="mb-3"> <img
					class="img-fluid"
					th:src="@{/static/tabler/dist/assets/images/folder.svg}" />
				</a>
			</div>
			<div>
				<div
					style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
					<small data-name></small>
				</div>
				<div>
					<small><a class="icon" style="margin-right: 10px;"
						data-trash><i class="fas fa-trash"></i></a><a class="icon"
						style="margin-right: 10px;" data-info><i class="fas fa-info"></i></a>
						<a class="icon" data-move style="margin-right: 10px"> <i
							class="fas fa-arrows-alt"></i>
					</a> <a class="icon" data-copy><i class="fas fa-copy"
							style="margin-right: 10px;"></i></a><a class="icon"> <i
							class="fas fa-redo" data-rename style="margin-right: 10px;"></i>
					</a></small>
				</div>
			</div>
		</div>
	</div>
	</template>
	<template id="fileTemplate">
	<div class="col-sm-3 col-lg-2 col-6 ">
		<div class="card p-3 h-100">
			<div style="margin-bottom: 5px">
				<img src="" class="rounded img-fluid">
			</div>
			<div>
				<div
					style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
					<small data-name></small>
				</div>
				<div>
					<small><a class="icon" style="margin-right: 10px;"
						data-trash><i class="fas fa-trash"></i></a><a class="icon"
						style="margin-right: 10px;" data-info><i class="fas fa-info"></i></a>
						<a class="icon" data-move style="margin-right: 10px"> <i
							class="fas fa-arrows-alt"></i>
					</a> <a class="icon" data-copy><i class="fas fa-copy"
							style="margin-right: 10px;"></i></a><a class="icon"> <i
							class="fas fa-redo" data-rename style="margin-right: 10px;"></i>
					</a> <a class="icon" target="_blank"
						style="margin-right: 10px; display: none" data-play><i
							class="fas fa-play"></i></a> <a href="javascript:void(0)"
						class="icon" data-copy-url style="margin-right: 10px;"><i
							class="far fa-copy mr-1"></i></a> <a href="javascript:void(0)"
						class="icon" data-edit style="margin-right: 10px; display: none"><i
							class="fas fa-edit mr-1"></i></a></small>
				</div>
			</div>
		</div>
	</div>
	</template>

	<!-- Modal -->
	<div class="modal fade" id="proModal" tabindex="-1" role="dialog"
		aria-labelledby="proModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">属性</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>