body {
	word-wrap: break-word;
}

.lucene-highlight-title {
	background: aquamarine
}

.lucene-highlight-tag {
	background: #ffff00
}

.lucene-highlight-summary {
	background: #80ff00
}

.tooltip-inner {
	background-color: black;
	word-wrap: break-word;
	text-align: left;
	white-space: pre-line;
}