<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Language" content="en" />
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#4188c9">
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">


<title>登录</title>
<link rel="stylesheet" th:href="@{/static/fontawesome/css/all.min.css}" />
<link th:href="@{/static/tabler/dist/assets/css/dashboard.css}"
	rel="stylesheet" />
<script th:src="@{/static/tabler/dist/assets/js/dashboard.js}"></script>
</head>
<body th:with="otp = ${session != null and session.totp_authenticate_require != null}">
	<div class="page">
		<div class="page-single">
			<div class="container">
				<div class="row">
					<div class="col col-login mx-auto">
						<div class="card"  >
							<div class="card-body p-6"  th:unless="${otp}">
								<div class="card-title">登录</div><p class="text text-danger" id="error" style="display:none"></p>
								<div class="form-group">
									<label class="form-label">用户名</label> <input type="text"
										name="name" class="form-control" id="name"
										aria-describedby="emailHelp" placeholder="用户名">
								</div>
								<p class="text text-danger" id="nameError" style="display:none"></p>
								<div class="form-group">
									<label class="form-label"> 密码 </label> <input type="password"
										name="password" class="form-control" id="password"
										placeholder="密码">
								</div>
								<p class="text text-danger" id="passwordError" style="display:none"></p>
								<div class="form-footer">
									<button type="button" id="login-btn"
										class="btn btn-primary btn-block">登录</button>
								</div>
							</div>
							<div class="card-body p-6"  th:if="${otp}">
								<div class="card-title">二次认证</div><p class="text text-danger" id="otp-error" style="display:none"></p>
								<div class="form-group">
									<label class="form-label">口令</label> <input type="text"
										name="otpCode" class="form-control" id="otpCode">
								</div>
								<div class="form-footer">
									<button type="button" id="otp-btn"
										class="btn btn-primary btn-block">认证</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><script
	th:src="@{/static/tabler/dist/assets/js/vendors/jquery-3.2.1.min.js}"></script>
	<script>
	var rootPath = '[[@{/}]]';
	var url = new URL(window.location.href);
	var redirectUrl = url.searchParams.get('redirectUrl');
	</script>
	<script th:if="${otp}">
		$(function(){
			var displayError = function(elem,error){
				elem.innerHTML = error;
				elem.style.display = '';
			}
			document.getElementById('otp-btn').addEventListener('click',function(){
				var ce = document.querySelector('#captchaError');
				if(ce != null){
					ce.innerHTML = '';
					ce.style.display = 'none';
				}
				var data = {
						totpCode : document.getElementById('otpCode').value
				}
				var captchaInput = document.getElementById('captcha');
				if(captchaInput != null){
					data.captcha = captchaInput.value;
				}
				$.ajax({
					type : "post",
					url : rootPath + 'session',
					data : data,
					success : function(data) {
						document.getElementById('otp-error').style.display = 'none';
						if(redirectUrl != null)
							window.location.href = redirectUrl;
						else
							window.location.href = '/'
					},
					error : function(data) {
						var errors = data.responseJSON.errors;
						if(errors && errors.length > 0 && errors[0].code == 'captcha.invalid'){
							var error = errors[0];
							var captchaDiv = document.getElementById('captchaDiv');
							if(captchaDiv == null){
								captchaDiv = document.createElement('div');
								captchaDiv.id = 'captchaDiv';
								captchaDiv.classList.add('form-group');
								var html = '<label class="form-label"> 验证码 </label>';
								html += ' <input type="text" name="captcha" class="form-control" id="captcha" placeholder="验证码">'
								html += '<img src="'+rootPath+'captcha?time='+new Date().getTime()+'" class="img-fluid"/>';
								captchaDiv.innerHTML = html;
								document.getElementById('otpCode').parentElement.after(captchaDiv);
								captchaError = document.createElement('p');
								captchaError.classList.add('text');
								captchaError.classList.add('text-danger');
								captchaError.id = 'captchaError';
								captchaDiv.querySelector('img').addEventListener('click',function(){
									this.src = rootPath + 'captcha?time='+new Date().getTime();
								})
								captchaDiv.after(captchaError);
								displayError(captchaError,'请输入验证码');
							} else {
								captchaDiv.querySelector('img').src = rootPath + 'captcha?time='+new Date().getTime();
								displayError(captchaError,error.message);
							}
							return ;
						}
						if(data.status === 401){
							if(errors && errors.length > 0 && errors[0].code == 'user.authRequired'){
								window.location.reload();
								return ;
							}
						}
						var errorElem = document.getElementById('otp-error');
						errorElem.innerHTML = errors[0].message;
						errorElem.style.display = '';
					}
				});
			});
		});
	</script>
	<script th:unless="${otp}">
		$(function() {
			
			var displayError = function(elem,error){
				elem.innerHTML = error;
				elem.style.display = '';
			}
			
			var clearError = function(elem){
				elem.innerHTML = '';
				elem.style.display = 'none';
			}
			
			var errorDisplay = (function(){
				var rootError = document.getElementById('error');
				var nameError = document.getElementById('nameError');
				var passwordError = document.getElementById('passwordError');
				var captchaError = document.getElementById('captchaError');
				return {
					showError : function(errors){
						this.clear();
						for(const error of errors){
							if(error.field){
								var errorElem;
								switch(error.field){
								case 'name' : 
									errorElem = nameError;
									break;
								case 'password':
									errorElem = passwordError;
									break;
								default :
									throw "invalid field"
								}
								displayError(errorElem,error.message);
							} else {
								if(error.code == 'captcha.invalid'){
									var captchaDiv = document.getElementById('captchaDiv');
									if(captchaDiv == null){
										captchaDiv = document.createElement('div');
										captchaDiv.id = 'captchaDiv';
										captchaDiv.classList.add('form-group');
										var html = '<label class="form-label"> 验证码 </label>';
										html += ' <input type="text" name="captcha" class="form-control" id="captcha" placeholder="验证码">'
										html += '<img src="'+rootPath+'captcha?time='+new Date().getTime()+'" class="img-fluid"/>';
										captchaDiv.innerHTML = html;
										passwordError.after(captchaDiv);
										captchaError = document.createElement('p');
										captchaError.classList.add('text');
										captchaError.classList.add('text-danger');
										captchaError.id = 'captchaError';
										captchaDiv.querySelector('img').addEventListener('click',function(){
											this.src = rootPath + 'captcha?time='+new Date().getTime();
										})
										captchaDiv.after(captchaError);
										displayError(captchaError,'请输入验证码');
									} else {
										captchaDiv.querySelector('img').src = rootPath + 'captcha?time='+new Date().getTime();
										displayError(captchaError,error.message);
									}
								} else {
									displayError(rootError,error.message);
								}
							}
						}
					},
					clear:function(){
						clearError(nameError);
						clearError(passwordError);
						clearError(rootError);
						if(captchaError)
							clearError(captchaError);
					}
				}
			})();
			
			document.getElementById('login-btn').addEventListener('click',function(){
				var data = {
					name : document.getElementById('name').value,
					password : document.getElementById('password').value
				}
				var captchaInput = document.getElementById('captcha');
				if(captchaInput != null){
					data.captcha = captchaInput.value;
				}
				$.ajax({
					type : "post",
					url : rootPath + 'session',
					data : data,
					success : function(data) {
						errorDisplay.clear();
						if(redirectUrl != null)
							window.location.href = redirectUrl;
						else
							window.location.href = '/'
					},
					error : function(data) {
						var errors = data.responseJSON.errors;
						if(data.status === 401){
							if(errors && errors.length > 0 && errors[0].code == 'totp.authRequired'){
								window.location.reload();
								return ;
							}
							errors  = [{'message':'认证失败'}]
						}
						errorDisplay.showError(errors);
					}
				});
			})
		});
	</script>
</body>
</html>