<!DOCTYPE html>
<html lang="zh-CN">
<head>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet"
	th:href="@{/static/bootstrap/css/bootstrap.min.css}">
<link th:href="@{/static/fontawesome-free/css/all.min.css}"
	rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/static/jquery-file-upload/css/jquery.fileupload.css}">
<link rel="stylesheet"
	th:href="@{/static/codemirror/lib/codemirror.css}">
<link rel="stylesheet" th:href="@{/static/css/markdown.css}">
<link rel="stylesheet" th:href="@{/static/heather/style.css}">
<link rel="stylesheet" th:href="@{/static/heather/highlight/styles/github.css}">
<link rel="stylesheet" th:href="@{/static/codemirror/addon/dialog/dialog.css}">
<link rel="stylesheet" th:href="@{/static/codemirror/addon/display/fullscreen.css}">
<style>
.swal2-container.swal2-shown {
	z-index: 99999999
}

.modal {
	z-index: 99999998
}

.modal-backdrop {
	z-index: 99999997
}
</style>
</head>
<body>
	<textarea id="editor" style="display: none"
		th:text="${article.content}"></textarea>

	<div class="modal fade" id="baseModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">基本信息</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" id="error-tip"
						style="display: none"></div>
					<form>
						<div class="form-group">
							<label>博客标题</label><input type="text" class="form-control"
								placeholder="博客标题(1-200个字符)" maxlength="200" id="title"
								th:value="${article.title}" />
						</div>
						<div class="form-group">
							<label>别名</label><input type="text" class="form-control"
								placeholder="博客别名(1-200个字符，不能为纯数字以及包含'<'、'>','='和空格等字符)"
								maxlength="200" id="alias" th:value="${article.alias}" />
						</div>
						<div class="form-group">
							<label>摘要 </label> <a href="javascript:void(0)"><i
								onclick="previewSummary($(this))" class="fas fa-eye icon"></i></a>
							<textarea class="form-control" cols="8" rows="8"
								placeholder="(0~2000字符)" id="summary"
								th:text="${article.summary}"></textarea>
							<div id="summary-rendered" class="markdown-body"
								style="display: none; max-height: 300px; overflow-y: auto">

							</div>
						</div>
						<div class="form-group">
							<label>特征图像</label><input type="text" class="form-control"
								placeholder="特征图像" maxlength="255" id="featureImage"
								th:value="${article.featureImage}" />
						</div>
						<div class="form-group has-feedback has-clear"
							id="tags-input-container">
							<label>标签 </label>
							<div class="input-group mb-3">
								<input type="text" id="tags-input" class="form-control"
									placeholder="标签(小于20个字符)" />
								<div class="input-group-append">
									<span class="input-group-text"><a href="###"
										onclick="_addTag()">添加</a></span>
								</div>
							</div>
						</div>
						<div class="card my-1">
							<div class="card-body " id="tags-container"></div>
						</div>
						<div class="form-group">
							<label>空间</label> <select class="form-control" id="space">
								<option th:each="space : ${spaces}" th:text="${space.name}"
									th:value="${space.id}"></option>
							</select>
						</div>
						<div class="form-group">
							<label>来源</label> <select class="form-control" id="from">
								<option th:if="${article.from != null}"
									th:value="${article.from.name()}" selected="selected"
									th:text="'当前:'+${messages.getMessage(article.from.getMessage())}"></option>
								<option value="ORIGINAL">原创</option>
								<option value="COPIED">转载</option>
							</select>
						</div>
						<div id="lock_container"></div>
						<div class="form-group">
							<label>状态</label> <select class="form-control" id="status">
								<option th:if="${article.status != null}"
									th:value="${article.status.name()}"
									th:text="${messages.getMessage(article.status.getMessage())}"></option>
								<option value="DRAFT">草稿</option>
								<option value="PUBLISHED">发布</option>
								<option value="SCHEDULED">计划</option>
							</select>
						</div>
						<div class="form-group"
							th:style="${article.isSchedule() ? '' : 'display: none'}"
							id="scheduleContainer">
							<label>计划发表日期</label> <input type="text" class="form-control"
								id="scheduleDate"
								th:value="${article.isSchedule() ? #dates.format(article.pubDate, 'yyyy-MM-dd HH:mm') : #dates.format(#dates.createNow(),'yyyy-MM-dd HH:mm')}"><br>
						</div>
						<div class="checkbox">
							<label th:if="${article.isPrivate == null || !article.isPrivate}">
								<input type="checkbox" id="private" />私人博客
							</label> <label th:if="${article.isPrivate != null && article.isPrivate}"><input
								type="checkbox" id="private" checked="checked" />私人博客 </label>
						</div>
						<div class="form-group">
							<label>博客优先级(优先级越高排名越靠前)</label> <input type="text"
								class="form-control" placeholder="1~100" maxlength="3"
								id="level" th:value="${article.level}" />
						</div>
						<div class="checkbox">
							<label
								th:if="${article.allowComment == null || !article.allowComment}">
								<input type="checkbox" id="allowComment" />允许评论
							</label> <label
								th:if="${article.allowComment != null && article.allowComment}"><input
								type="checkbox" id="allowComment" checked="checked" />允许评论 </label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" id="submit-art">发表文章</button>
				</div>
			</div>
		</div>
	</div>

	<input type="hidden" th:value="${article.status}" id="oldStatus" />
	<input type="hidden" th:value="${article.tagStr}" id="oldTags"
		style="display: none" />
	<input type="hidden" th:value="${article.lockId}" id="oldLock"
		style="display: none" />
	<input type="hidden" th:value="${article.id}" id="id"
		style="display: none" />
	<input type="hidden"
		th:value="${article.space == null ? '' : article.space.id}"
		id="oldSpace" style="display: none" />
	<script>
		var rootPath = '[[@{/}]]';
		var root = rootPath;
		 function insertAfter(newNode, referenceNode) {
		        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
		    }
	</script>
		
	<script>
		var rootPath = '[[@{/}]]';
		var root = rootPath;
	</script>
	<script th:src="@{/static/sweet2alert/dist/sweetalert2.all.min.js}"></script>
	<script th:src="@{/static/jquery/jquery.min.js}"></script>
	<script th:src="@{/static/js/base.js}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/static/console/js/dirChooser.js}"></script>
		<script th:src="@{/static/heather/highlight/highlight.pack.js}"></script>
	<!--CodeMirror-->
	<script th:src="@{/static/codemirror/lib/codemirror.js}"></script>
	<script th:src="@{/static/codemirror/addon/mode/overlay.js}"></script>
	<script th:src="@{/static/codemirror/mode/xml/xml.js}"></script>
	<script th:src="@{/static/codemirror/mode/markdown/markdown.js}"></script>
	<script th:src="@{/static/codemirror/mode/gfm/gfm.js}"></script>
	<script
		th:src="@{/static/codemirror/addon/selection/mark-selection.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/searchcursor.js}"></script>
	<script th:src="@{/static/codemirror/addon/search/search.js}"></script>
	<script th:src="@{/static/codemirror/addon/edit/continuelist.js}"></script>
	<script th:src="@{/static/codemirror/addon/dialog/dialog.js}"></script>
	<script th:src="@{/static/codemirror/addon/display/fullscreen.js}"></script>
	<script th:src="@{/static/heather/js/markdown-it.min.js}"></script>
	<script th:src="@{/static/heather/js/markdown-it-task-lists.min.js}"></script>
	<script th:src="@{/static/heather/js/markdown-it-katex.min.js}"></script>
	<script th:src="@{/static/heather/js/heather.js}"></script>

	<script type="text/javascript"
		th:src="@{/static/jquery-file-upload/js/load-image.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/js/canvas-to-blob.min.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/vendor/jquery.ui.widget.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.iframe-transport.js}"></script>
	<script th:src="@{/static/jquery-file-upload/js/jquery.fileupload.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-ui.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-process.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-image.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-audio.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-video.js}"></script>
	<script
		th:src="@{/static/jquery-file-upload/js/jquery.fileupload-validate.js}"></script>
	<script th:src="@{/static/js/file.js}"></script>
	<script th:src="@{/static/console/js/article_editor.js}"></script>
	<script th:src="@{/static/console/js/file_insert.js}"></script>
</body>
</html>