<footer class="footer">
	<div class="container">
		<div class="row align-items-center flex-row-reverse">
			<div class="col-auto ml-lg-auto"></div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
				Copyright © [[${#dates.year(#dates.createNow())}]] <a href=".">Tabler</a>.
				Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a>
				All rights reserved.
			</div>
		</div>
	</div>
</footer>
<script
	th:src="@{/static/tabler/dist/assets/js/vendors/jquery-3.2.1.min.js}"></script>
<script
	th:src="@{/static/tabler/dist/assets/js/vendors/bootstrap.bundle.min.js}"></script>
<script
	th:src="@{/static/tabler/dist/assets/js/vendors/sweetalert2.all.min.js}"></script>
<script
	th:src="@{/static/tabler/dist/assets/js/vendors/clipboard.min.js}"></script>
<script>
	var rootPath = '[[@{/}]]';
	var fileEnable = '[[${blogPros.fileEnable}]]' === 'true'

	var toast = function(title,icon, timer) {
		const Toast = Swal.mixin({
			toast : true,
			position : 'top-end',
			showConfirmButton : false,
			timer : typeof timer == 'undefined' ? 2000 : timer
		})

		Toast.fire({
			icon : icon || 'success',
			title : title
		})
	}
	
	var calcPaging = function(step,data){
		var offset = step%2 == 0 ? step/2 : (step-1)/2;
		var first,last;
		if(data.currentPage - offset < 1){
			first = 1;
			last = step;
		} else {
			first = data.currentPage - offset;
			last = data.currentPage + (step%2 == 0?offset-1:offset);
		}
		last = Math.min(last,data.totalPage);
		if(last - first + 1 < step){
			if(data.totalPage > step){
				first = last - step+1;
			} else {
				first = 1
			}
		}
		return {first:first,last:last};
	}
	
	function toastErrors(errors){
		if(errors.length == 1){
			toast(errors[0].message,'error');
			return ;
		}
		var html = '';
		for(const error of errors){
			html += '<p>'+error.message+'</p>';
		}
		toast(html,'error');
	}
	
	$(document).ajaxError(function(e,r) {
		if(r.handled === true) return ;
		var errors = r.responseJSON && r.responseJSON.errors;
		if(!errors){
			if(r.status === 401){
				errors  = [{'message':'认证失败'}]
			}
		}
		if(errors)
			toastErrors(errors);
	});
	
	function displayFormError(errors,container){
		for(const error of errors){
			var field = error.field;
			var target = container.querySelector('[data-invalid-target="'+field+'"]');
			if(target != null){
				target.previousElementSibling.classList.add('is-invalid');
				target.innerHTML = error.message;
				target.style.display = 'block'//for content error display 
			}
		}
	}
	
	function clearFormError(container){
		var targets = container.querySelectorAll('[data-invalid-target]');
		for(const target of targets){
			target.previousElementSibling.classList.remove('is-invalid');
			target.innerHTML = '';
			target.style.display = ''
		}
	}
</script>