<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<div class="d-flex order-lg-2 ml-auto">
				<div class="dropdown">
					<a th:href="@{/console/config}" class="nav-link pr-0 leading-none">
						<span class="avatar"
						th:style="'background-image: url(https://secure.gravatar.com/avatar/'+${session.authed.gravatar}+')'"
						th:if="${session.authed.gravatar != null}"></span> <span
						class="avatar"
						th:style="'background-image: url('+@{/static/img/guest.png}+')'"
						th:if="${session.authed.gravatar == null}"></span> <span
						class="ml-2 d-none d-lg-block"> <span class="text-default">[[${session.authed.name}]]</span>
					</span>
					</a>
				</div>
			</div>
			<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0"
				data-toggle="collapse" data-target="#headerMenuCollapse"> <span
				class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>