<!doctype html>
<html>
<head th:replace="console/fragment/head('配置')"></head>
<body class="">
	<div class="page">
		<div class="flex-fill">
			<div th:replace="console/fragment/profile"></div>
			<div th:replace="console/fragment/headermenu('config')"></div>
			<div class="my-3 my-md-5">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-md-2">
							<div class="form-group">
								<label class="form-label">登录名</label> <input type="text"
									id="loginName" class="form-control"
									th:value="${config.loginName}">
									<div class="invalid-feedback" data-invalid-target="loginName"></div>
							</div>
							<div class="form-group">
								<label class="form-label">登录密码</label> <input type="password"
									id="password" class="form-control">
								<div class="invalid-feedback" data-invalid-target="password"></div>
							</div>
							<div class="form-group">
								<label class="form-label">昵称</label> <input type="text"
									id="nickname" class="form-control"
									th:value="${config.nickname}">
								<div class="invalid-feedback" data-invalid-target="nickname"></div>
							</div>
							<div class="form-group">
								<label class="form-label">邮箱</label> <input type="email"
									id="email" class="form-control" th:value="${config.email}">
								<div class="invalid-feedback" data-invalid-target="email"></div>
							</div>
							<div class="form-group">
								<label class="form-label">评论审核</label> <select
									class="form-control" id="commentCheckStrategy"
									th:with="strategy=${config.commentCheckStrategy.name()}">
									<option value="FIRST_COMMENT"
										th:attr="selected=${strategy == 'FIRST_COMMENT' ? 'selected' : null}">IP第一次评论时审核</option>
									<option value="ALWAYS"
										th:attr="selected=${strategy == 'ALWAYS' ? 'selected' : null}">始终审核</option>
									<option value="NEVER"
										th:attr="selected=${strategy == 'NEVER' ? 'selected' : null}">不审核</option>
								</select>
								<div class="invalid-feedback" data-invalid-target="commentCheckStrategy"></div>
							</div>
							<div class="form-group">
								<label class="form-label">原密码</label> <input type="password"
									id="oldPassword" class="form-control">
							</div>
							<div class="form-group" th:if="${blogPros.totpEnable}">
								<label class="form-label">口令</label> <input type="text"
									id="totpCode" class="form-control">
							</div>
							<button type="button" class="btn btn-secondary btn-block"
								id="submit-btn">提交</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="console/fragment/footer"></footer>
	</div>
	<script>
		document
				.getElementById('submit-btn')
				.addEventListener(
						'click',
						function() {
							var oldPassword = document
									.getElementById('oldPassword').value;
							var data = {};
							data.loginName = document
									.getElementById('loginName').value;
							data.nickname = document.getElementById('nickname').value;
							data.password = document.getElementById('password').value;
							data.email = document.getElementById('email').value;
							data.commentCheckStrategy = document.getElementById('commentCheckStrategy').value;
							
							var totpElem = document.getElementById('totpCode');
							var totpCode = totpElem == null ? '' : totpElem.value;
							
							$.ajax({
								type : 'post',
								url : rootPath + 'console/config/save?oldPassword='+oldPassword+"&totpCode="+totpCode,
					            contentType: 'application/json',
								data:JSON.stringify(data),
								success:function(data) {
									toast('保存成功');
									setTimeout(function(){
										window.location.reload();
									},500)
								},
								error:function(r){
									r.handled = true;
									clearFormError(document.body);
						        	var errors = r.responseJSON && r.responseJSON.errors;
						    		if(errors){
				    					if(errors[0].field){
						    				displayFormError(errors,document.body);
						    			} else {
						    				toastErrors(errors);
						    			}
						    		}
						        }
							  })
						})
	</script>
</body>
</html>