<script th:src="@{/static/jquery/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/sweet2alert/dist/sweetalert2.all.min.js}"></script>
<script th:src="@{/static/js/base.js}"></script>
<script th:src="@{/static/js/moment.min.js}"></script>
<input type="hidden" id="basePath" th:value="@{/}" />
<input type="hidden" id="actPath" th:value="${urls.currentUrl}" />
<input type="hidden" id="rootPath" th:value="${urls.url}" />
<script type="text/javascript">
	var basePath = $("#basePath").val();
	var rootPath = $("#rootPath").val();
	var actPath = $("#actPath").val();
	bootbox.setDefaults({
	    locale: "zh_CN"
	});
</script>