<!doctype html>
<html>
<head th:replace="console/fragment/head('评论管理')"></head>
<body style="height: 100% !important;">
	<div class="page">
		<div class="flex-fill">
			<div th:replace="console/fragment/profile"></div>
			<div th:replace="console/fragment/headermenu('comments')"></div>
			<div class="my-3 my-md-5">
				<div class="container">

					<div class="page-header">
						<div class="page-options d-flex">
							<span style="margin-right:10px;margin-top:2px">只显示待审核评论</span> <label class="colorinput"><input name="color"
								type="checkbox" value="azure" class="colorinput-input" id="checkingBox">
								<span class="colorinput-color bg-azure"></span> </label>
						</div>
					</div>
					<div id="comment-container"></div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="console/fragment/footer"></footer>
	<script th:src="@{/static/heather/js/heather_lazy.js}"></script>
	<script th:src="@{/static/console/js/comment.js}"></script>
	<script>
		new Comment({
			container : 'comment-container'
		})
	</script>
</body>
</html>